# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [4]:
import pandas as pd
import numpy as np

DATA_FOLDER = 'Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [ ]:
# Write your answer here

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [5]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

### Question 1

  * `pclass`: The travel class of the passenger. Can be either 1st, 2nd or 3rd class. This attribute is `Categorical`.
  * `survived`: If the passenger survived. Can be `1` if he survived, `0` otherwise. We converted it to `bool`.
  * `name`: The fullname of the passenger.
  * `sex`: The sex of the passenger. Can be either male or female. This attribute is `Categorical`.
  * `age`: The age of the passenger. The value is a `double` to accomodate the age of newborns (`< 1` year old).
  * `sibsp`: The number of siblings/spouses aboard. The value is a `double` but we converted it to `int64`.
  * `parch`: The number of parents/children aboard. The value is a `double` but we converted it to `int64`.
  * `ticket`: The ticket number of the passenger. We kept it as `character` since the ticket number is sometimes prefixed by characters.
  * `fare`: The price of the ticket in British Pound (`double`).
  * `cabin`: The cabin's number of the passenger. Muliple passengers can share the same cabin's number and passengers can have multiple cabins. The letter refers to the deck (A to G). We ignored invalid values.
  * `embarked`: The place the passenger embarked. Can be either `C`, `Q` or `S` (for 'Chertbourg', 'Queenstown' and 'Southampton'). This attribute is `Categorical`.
  * `boat`: The identifier of the boat that saved the passenger. When multiple boats are listed, we filtered the field to only keep the last one (this seems to be the correct one referenced in Encyclopedia Titanica). Once filtered, this field become `Categorical`.
  * `body`: The number that identify the body found. NaN if no body was found.
  * `home.dest`: A string containing the home and the destination of the passenger.

In [93]:
# Load titanic's data
titanic = pd.read_excel(DATA_FOLDER + '/titanic.xls')

# Reformat and cleanup the data
titanic.pclass = titanic.pclass.astype('category')
titanic.survived = titanic.survived.astype('bool')
titanic.sex = titanic.sex.astype('category')
titanic.sibsp = titanic.sibsp.astype('int64')
titanic.parch = titanic.parch.astype('int64')
titanic.embarked = titanic.embarked.astype('category')
titanic.boat = titanic.boat.map(lambda boat: np.nan if pd.isnull(boat) else str(boat).split(' ')[-1]).astype('category')

titanic

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,True,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,True,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,False,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,False,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,False,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,True,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,True,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,False,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,True,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,False,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,False,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,True,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,True,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,True,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,True,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,False,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,False,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,True,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,True,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,False,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,True,"Beckwith, Mr. Richard Leonard",male,37.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,True,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,True,"Behr, Mr. Karl Howell",male,26.0000,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,True,"Bidois, Miss. Rosalie",female,42.0000,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,True,"Bird, Miss. Ellen",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,False,"Birnbaum, Mr. Jakob",male,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,True,"Bishop, Mr. Dickinson H",male,25.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,True,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,True,"Bissette, Miss. Amelia",female,35.0000,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,True,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,False,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0,0,350406,7.8542,NaN,S,NaN,NaN,NaN
1280,3,False,"Vovk, Mr. Janko",male,22.0000,0,0,349252,7.8958,NaN,S,NaN,NaN,NaN
1281,3,False,"Waelens, Mr. Achille",male,22.0000,0,0,345767,9.0000,NaN,S,NaN,NaN,"Antwerp, Belgium / Stanton, OH"
1282,3,False,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,NaN,NaN
1283,3,False,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S,NaN,NaN,NaN
1284,3,False,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,NaN,NaN
1285,3,False,"Wenzel, Mr. Linhart",male,32.5000,0,0,345775,9.5000,NaN,S,NaN,298.0,NaN
1286,3,True,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1287,3,False,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0,0,347064,7.7500,NaN,S,NaN,NaN,NaN
1288,3,False,"Wiklund, Mr. Jakob Alfred",male,18.0000,1,0,3101267,6.4958,NaN,S,NaN,314.0,NaN
1289,3,False,"Wiklund, Mr. Karl Johan",male,21.0000,1,0,3101266,6.4958,NaN,S,NaN,NaN,NaN
1290,3,True,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1291,3,False,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
1292,3,False,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,NaN,NaN
1293,3,False,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,NaN,NaN
1294,3,False,"Williams, Mr. Leslie",male,28.5000,0,0,54636,16.1000,NaN,S,NaN,14.0,NaN
1295,3,False,"Windelov, Mr. Einar",male,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,NaN,NaN
1296,3,False,"Wirz, Mr. Albert",male,27.0000,0,0,315154,8.6625,NaN,S,NaN,131.0,NaN
1297,3,False,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,NaN,NaN
1298,3,False,"Wittevrongel, Mr. Camille",male,36.0000,0,0,345771,9.5000,NaN,S,NaN,NaN,NaN
1299,3,False,"Yasbeck, Mr. Antoni",male,27.0000,1,0,2659,14.4542,NaN,C,C,NaN,NaN
1300,3,True,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
1301,3,False,"Youseff, Mr. Gerious",male,45.5000,0,0,2628,7.2250,NaN,C,NaN,312.0,NaN
1302,3,False,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,NaN,NaN,NaN
1303,3,False,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,NaN,NaN,NaN
1304,3,False,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,False,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,False,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,False,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,False,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN