In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as rq
from bs4 import BeautifulSoup as bs
import re
import pickle

In [2]:
# Found using Postman and intercepting traffics while visiting topuniversities.com
top_universities_url = 'https://www.topuniversities.com'
top_universities_ranking_url = top_universities_url + '/sites/default/files/qs-rankings-data/357051.txt'

the_universities_url = 'https://www.timeshighereducation.com'
the_universities_ranking_url = the_universities_url + '/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

## Top Universities

In [28]:
# Remove any characters that is not part of a floating number
def match_number(text):
    ''' [-+]?[0-9]*\.?[0-9]+ '''
    return float(re.sub('[^-+0-9.]', '', text))

# Extract a float number from an html document using the selector
def extract_number(html, selector):
    number_tag = html.select_one(selector)
    if number_tag is None:
        return float('NaN')
    else:
        return match_number(number_tag.get_text())

def fetch_top_university_infos(university):
    # Fetch the Webpage of the university
    university_request = rq.get(top_universities_url + university['url'])
    university_html = bs(university_request.text, 'html.parser')
    university_data = dict()
    
    # Scrap data from the JSON and the Webpage
    university_data['name'] = university['title']
    university_data['rank'] = int(match_number(university['rank_display']))
    university_data['region'] = university['region']
    university_data['country'] = university['country']
    university_data['faculty_total'] = extract_number(university_html, 'div.faculty.total div.number')
    university_data['faculty_inter'] = extract_number(university_html, 'div.faculty.inter div.number')
    university_data['faculty_local'] = university_data['faculty_total'] - university_data['faculty_inter']
    university_data['student_total'] = extract_number(university_html, 'div.student.total div.number')
    university_data['student_inter'] = extract_number(university_html, 'div.inter.total div.number')
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    
    return university_data

try:
    # Try to load the serialized data
    top_universities_file = open('top_universities.pickle', 'rb')
    top_universities = pickle.load(top_universities_file)
except:
    # If loading from the serialized data failed, scrap from the web!
    top_universities_json = (rq.get(top_universities_ranking_url).json())['data']
    top_universities = pd.DataFrame(list(map(fetch_top_university_infos, top_universities_json[0:200])))
    
    top_universities.region = top_universities.region.astype('category')
    top_universities.country = top_universities.country.astype('category')
    
    # Serialize the result for future runs
    top_universities_file = open('top_universities.pickle', 'wb')
    pickle.dump(top_universities, top_universities_file)
    
# Create the mapping country => region for the Times scrapper
country_regions = dict()
for country_region_pair, universities in top_universities.groupby(['country', 'region']):
    country_regions[country_region_pair[0]] = country_region_pair[1]
    
top_universities

,country,faculty_inter,faculty_local,faculty_total,name,region,student_inter,student_local,student_total,top_rank
0,United States,1679.0,1303.0,2982.0,Massachusetts Institute of Technology (MIT),North America,3717.0,7350.0,11067.0,1
1,United States,2042.0,2243.0,4285.0,Stanford University,North America,3611.0,12267.0,15878.0,2
2,United States,1311.0,3039.0,4350.0,Harvard University,North America,5266.0,17163.0,22429.0,3
3,United States,350.0,603.0,953.0,California Institute of Technology (Caltech),North America,647.0,1608.0,2255.0,4
4,United Kingdom,2278.0,3212.0,5490.0,University of Cambridge,Europe,6699.0,12071.0,18770.0,5
5,United Kingdom,2964.0,3786.0,6750.0,University of Oxford,Europe,7353.0,12367.0,19720.0,6
6,United Kingdom,2554.0,3791.0,6345.0,UCL (University College London),Europe,14854.0,16226.0,31080.0,7
7,United Kingdom,2071.0,1859.0,3930.0,Imperial College London,Europe,8746.0,7344.0,16090.0,8
8,United States,635.0,1814.0,2449.0,University of Chicago,North America,3379.0,10178.0,13557.0,9
9,Switzerland,1886.0,591.0,2477.0,ETH Zurich - Swiss Federal Institute of Techno...,Europe,7563.0,12252.0,19815.0,10
10,Singapore,2993.0,1345.0,4338.0,"Nanyang Technological University, Singapore (NTU)",Asia,7251.0,18487.0,25738.0,11
11,Switzerland,1300.0,395.0,1695.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Europe,5896.0,4447.0,10343.0,12
12,United States,246.0,761.0,1007.0,Princeton University,North America,1793.0,6276.0,8069.0,13
13,United States,970.0,1748.0,2718.0,Cornell University,North America,5411.0,16493.0,21904.0,14
14,Singapore,3086.0,2020.0,5106.0,National University of Singapore (NUS),Asia,8917.0,23811.0,32728.0,15
15,United States,1708.0,3232.0,4940.0,Yale University,North America,2469.0,9933.0,12402.0,16
16,United States,1061.0,3401.0,4462.0,Johns Hopkins University,North America,4105.0,12041.0,16146.0,17
17,United States,913.0,5276.0,6189.0,Columbia University,North America,8105.0,16940.0,25045.0,18
18,United States,1383.0,4116.0,5499.0,University of Pennsylvania,North America,4250.0,16389.0,20639.0,19
19,Australia,927.0,673.0,1600.0,The Australian National University,Oceania,5551.0,8891.0,14442.0,20
20,United States,1920.0,4889.0,6809.0,University of Michigan,North America,7527.0,35620.0,43147.0,21
21,United States,226.0,2712.0,2938.0,Duke University,North America,2864.0,12456.0,15320.0,21
22,United Kingdom,1553.0,2522.0,4075.0,The University of Edinburgh,Europe,10551.0,17489.0,28040.0,23
23,United Kingdom,1513.0,2137.0,3650.0,King's College London,Europe,9451.0,14329.0,23780.0,23
24,China,932.0,4574.0,5506.0,Tsinghua University,Asia,4072.0,32228.0,36300.0,25
25,Hong Kong,2085.0,927.0,3012.0,The University of Hong Kong,Asia,8230.0,11984.0,20214.0,26
26,United States,1395.0,1926.0,3321.0,"University of California, Berkeley (UCB)",North America,6086.0,30617.0,36703.0,27
27,Japan,254.0,4260.0,4514.0,The University of Tokyo,Asia,2639.0,24640.0,27279.0,28
28,United States,1141.0,3090.0,4231.0,Northwestern University,North America,3422.0,15253.0,18675.0,28
29,Hong Kong,835.0,315.0,1150.0,The Hong Kong University of Science and Techno...,Asia,2921.0,7454.0,10375.0,30
...,...,...,...,...,...,...,...,...,...,...
170,Germany,413.0,1553.0,1966.0,Albert-Ludwigs-Universitaet Freiburg,Europe,3897.0,19317.0,23214.0,171
171,India,4.0,462.0,466.0,Indian Institute of Technology Delhi (IITD),Asia,80.0,7397.0,7477.0,172
172,Saudi Arabia,665.0,397.0,1062.0,King Fahd University of Petroleum & Minerals,Asia,989.0,5051.0,6040.0,173
173,United Kingdom,717.0,1673.0,2390.0,University of Liverpool,Europe,7502.0,14563.0,22065.0,173
174,United States,487.0,2022.0,2509.0,University of Virginia,North America,1899.0,19661.0,21560.0,173
175,Australia,546.0,782.0,1328.0,University of Technology Sydney,Oceania,7769.0,16438.0,24207.0,176
176,France,137.0,392.0,529.0,CentraleSupélec,Europe,1132.0,2745.0,3877.0,177
177,United States,504.0,4915.0,5419.0,University of Florida,North America,4597.0,40888.0,45485.0,178
178,India,19.0,857.0,876.0,Indian Institute of Technology Bombay (IITB),Asia,93.0,9309.0,9402.0,179
179,Netherlands,299.0,611.0,910.0,University of Twente,Europe,2235.0,7097.0,9332.0,179
180,Germany,641.0,3037.0,3678.0,University of Göttingen,Europe,3736.0,26666.0,30402.0,181
181,Belgium,515.0,1277.0,1792.0,Vrije Universiteit Brussel (VUB),Europe,1853.0,7431.0,9284.0,182
182,Brazil,109.0,1859.0,1968.0,Universidade Estadual de Campinas (Unicamp),Latin America,966.0,25606.0,26572.0,182
183,United States,566.0,3119.0,3685.0,University of Colorado Boulder,North America,2679.0,27540.0,30219.0,182
184,Austria,172.0,534.0,706.0,Vienna University of Technology,Europe,5199.0,12280.0,17479.0,182
185,United States,488.0,2081.0,2569.0,University of Rochester,North America,2805.0,6831.0,9636.0,186
186,Spain,181.0,2557.0,2738.0,Universidad Autónoma de Madrid,Europe,2976.0,23535.0,26511.0,187
187,Italy,153.0,2837.0,2990.0,Alma Mater Studiorum - University of Bologna,Europe,4195.0,59204.0,63399.0,188
188,United Kingdom,422.0,858.0,1280.0,University of Reading,Europe,4077.0,9253.0,13330.0,188
189,India,NaN,NaN,423.0,Indian Institute of Science (IISc) Bangalore,Asia,47.0,4024.0,4071.0,190
190,South Africa,379.0,1354.0,1733.0,University of Cape Town,Africa,3325.0,16268.0,19593.0,191
191,Italy,1.0,85.0,86.0,Scuola Normale Superiore di Pisa,Europe,48.0,484.0,532.0,192
192,Italy,1.0,118.0,119.0,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Europe,135.0,654.0,789.0,192
193,Japan,261.0,3644.0,3905.0,Keio University CEMS MIM,Asia,2178.0,31322.0,33500.0,192
194,Sweden,646.0,1508.0,2154.0,Stockholm University,Europe,2636.0,25645.0,28281.0,195
195,Spain,230.0,1957.0,2187.0,Universitat Autònoma de Barcelona,Europe,3848.0,28138.0,31986.0,195
196,United States,206.0,3240.0,3446.0,Texas A&M University,North America,4900.0,55394.0,60294.0,195
197,Mexico,821.0,1001.0,1822.0,Instituto Tecnológico y de Estudios Superiores...,Latin America,1412.0,11964.0,13376.0,199
198,Netherlands,502.0,775.0,1277.0,Maastricht University,Europe,8234.0,8151.0,16385.0,200
199,Chile,127.0,2129.0,2256.0,Universidad de Chile,Latin America,2134.0,36714.0,38848.0,201

In [4]:
# Sort the universities by faculty/student ratio and international students/local students ratio
def ratio_stats(universities):
    universities['faculty_student_ratio'] = universities.faculty_total / universities.student_total
    universities['inter_student_ratio'] = universities.student_inter / universities.student_total
    
    top_by_faculty = (universities.sort_values('faculty_student_ratio', ascending = False))[:20]
    top_by_inter = (universities.sort_values('inter_student_ratio', ascending = False))[:20]
    
    return (top_by_faculty, top_by_inter)

In [5]:
# Top universities, using ratios
top_universities_by_faculty, top_universities_by_inter = ratio_stats(top_universities)

# Top universities by country, using ratios
top_country = top_universities.groupby('country').sum()
top_country_by_faculty, top_country_by_inter = ratio_stats(top_country)

# Top universities by region, using ratios
top_regions = top_universities.groupby('region').sum()
top_regions_by_faculty, top_regions_by_inter = ratio_stats(top_regions)

## Times Higher Education

In [29]:
import math

def fetch_the_university_infos(university):
    # No need to fetch more data
    university_data = dict()
    
    student_faculty_ratio = match_number(university['stats_student_staff_ratio'])
    inter_student_ratio = match_number(university['stats_pc_intl_students']) / 100.0
    
    # Scrap data from the JSON, some computation required
    university_data['name'] = university['name']
    university_data['rank'] = int(match_number(university['rank']))
    university_data['region'] = country_regions[university['location']]
    university_data['country'] = university['location']
    university_data['student_total'] = int(match_number(university['stats_number_students']))
    university_data['student_inter'] = int(university_data['student_total'] * inter_student_ratio)
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    university_data['faculty_total'] = int(university_data['student_total'] / student_faculty_ratio)
    university_data['faculty_inter'] = float('NaN')
    university_data['faculty_local'] = float('NaN')
    
    return university_data
    
try:
    # Try to load the serialized data
    the_universities_file = open('the_universities.pickle', 'rb')
    the_universities = pickle.load(the_universities_file)
except:
    # If loading from the serialized data failed, scrap from the web!
    the_universities_json = (rq.get(the_universities_ranking_url).json())['data']
    the_universities = pd.DataFrame(list(map(fetch_the_university_infos, the_universities_json[0:200])))
        
    the_universities.region = the_universities.region.astype('category')
    the_universities.country = the_universities.country.astype('category')
    
    # Serialize the result for future runs
    the_universities_file = open('the_universities.pickle', 'wb')
    pickle.dump(the_universities, the_universities_file)

In [7]:
# Top universities, using ratios
the_universities_by_faculty, the_universities_by_inter = ratio_stats(the_universities)

# Top universities by country, using ratios
the_country = the_universities.groupby('country').sum()
the_country_by_faculty, the_country_by_inter = ratio_stats(the_country)

# Top universities by region, using ratios
the_regions = the_universities.groupby('region').sum()
the_regions_by_faculty, the_regions_by_inter = ratio_stats(the_regions)

# Merging datasets

In [23]:
from difflib import SequenceMatcher
from collections import defaultdict
from operator import itemgetter

def proximity(a, b):
    return SequenceMatcher(None, a, b).ratio()

# We will compute the proximity of the name between all universities of the rankings (cross product)
proximities = dict()
for top_index, top_uni in top_universities.iterrows():
    for the_index, the_uni in the_universities.iterrows():
        # Don't need to work on universities in different countries
        if top_uni['country'] != the_uni['country']:
            continue
        
        prox = proximity(top_uni['name'], the_uni['name'])
        
        # Only keep good proximity to reduce work in the next phase
        if prox >= .5:
            proximities[(top_index, the_index)] = prox

In [33]:
# Prepare universities to be matched
top_universities['matched'] = False
the_universities['matched'] = False
the_universities['match_name'] = None
the_universities['prox'] = 0.0

# Sort match by quality, we want the best matches to be processed first in case of conflicts
best_matches = sorted(proximities.items(), key = itemgetter(1), reverse = True)

for indexes, proximity in best_matches:
    # Get a view on both unis
    top_uni, the_uni = top_universities.loc[indexes[0]], the_universities.loc[indexes[1]]
    
    # Do the match only if both are still free
    if not top_uni['matched'] and not the_uni['matched']:
        # Mark the universities as matched
        top_universities.loc[indexes[0],'matched'] = True
        the_universities.loc[indexes[1],'matched'] = True
        # Give the same name for the merge
        the_universities.loc[indexes[1],'prox'] = proximity
        the_universities.loc[indexes[1],'merge_name'] = top_uni['name']

# Use a join to merge the datasets using the name
merged_universities = top_universities.merge(the_universities, how = 'inner', left_on = 'name', right_on = 'merge_name')
(merged_universities.sort_values('prox'))

,country_x,faculty_inter_x,faculty_local_x,faculty_total_x,name_x,region_x,student_inter_x,student_local_x,student_total_x,top_rank,...,name_y,region_y,student_inter_y,student_local_y,student_total_y,the_rank,matched_y,match_name,prox,merge_name
157,Italy,1.0,118.0,119.0,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Europe,135.0,654.0,789.0,192,...,Scuola Superiore Sant’Anna,Europe,96,594,690,155,True,None,0.500000,Scuola Superiore Sant'Anna Pisa di Studi Unive...
151,Belgium,515.0,1277.0,1792.0,Vrije Universiteit Brussel (VUB),Europe,1853.0,7431.0,9284.0,182,...,Université Libre de Bruxelles,Europe,8870,16473,25343,175,True,None,0.524590,Vrije Universiteit Brussel (VUB)
113,France,253.0,2020.0,2273.0,Université Pierre et Marie Curie (UPMC),Europe,4213.0,20092.0,24305.0,131,...,Pierre and Marie Curie University,Europe,5023,20094,25117,123,True,None,0.583333,Université Pierre et Marie Curie (UPMC)
115,Sweden,336.0,741.0,1077.0,Chalmers University of Technology,Europe,1465.0,7792.0,9257.0,133,...,University of Gothenburg,Europe,2389,15989,18378,198,True,None,0.596491,Chalmers University of Technology
145,Germany,413.0,1553.0,1966.0,Albert-Ludwigs-Universitaet Freiburg,Europe,3897.0,19317.0,23214.0,171,...,University of Freiburg,Europe,3965,16906,20871,82,True,None,0.620690,Albert-Ludwigs-Universitaet Freiburg
141,Germany,796.0,3048.0,3844.0,Eberhard Karls Universität Tübingen,Europe,3860.0,23506.0,27366.0,164,...,University of Tübingen,Europe,3619,24225,27844,94,True,None,0.631579,Eberhard Karls Universität Tübingen
125,Germany,377.0,2185.0,2562.0,Technische Universität Berlin (TU Berlin),Europe,4494.0,17682.0,22176.0,144,...,Technical University of Berlin,Europe,4478,17912,22390,92,True,None,0.676056,Technische Universität Berlin (TU Berlin)
133,Spain,108.0,3755.0,3863.0,Universitat de Barcelona,Europe,6134.0,39868.0,46002.0,156,...,Autonomous University of Barcelona,Europe,5169,27140,32309,147,True,None,0.689655,Universitat de Barcelona
154,United Kingdom,422.0,858.0,1280.0,University of Reading,Europe,4077.0,9253.0,13330.0,188,...,University of Sussex,Europe,4705,7679,12384,147,True,None,0.731707,University of Reading
137,United Kingdom,440.0,725.0,1165.0,University of Bath,Europe,4213.0,10157.0,14370.0,160,...,University of East Anglia,Europe,4056,9465,13521,188,True,None,0.744186,University of Bath
43,Australia,1612.0,1312.0,2924.0,The University of New South Wales (UNSW Sydney),Oceania,14292.0,25492.0,39784.0,45,...,University of New South Wales,Oceania,13645,26488,40133,85,True,None,0.763158,The University of New South Wales (UNSW Sydney)
107,Netherlands,323.0,1954.0,2277.0,Wageningen University,Europe,3613.0,9082.0,12695.0,124,...,Wageningen University & Research,Europe,3574,8752,12326,64,True,None,0.792453,Wageningen University
143,Ireland,627.0,977.0,1604.0,University College Dublin,Europe,3876.0,15957.0,19833.0,168,...,Trinity College Dublin,Europe,4362,11795,16157,117,True,None,0.808511,University College Dublin
112,Canada,1037.0,1924.0,2961.0,Université de Montréal,North America,9688.0,29424.0,39112.0,130,...,University of Montreal,North America,9023,31994,41017,108,True,None,0.818182,Université de Montréal
40,South Korea,147.0,1103.0,1250.0,KAIST - Korea Advanced Institute of Science & ...,Asia,584.0,9242.0,9826.0,41,...,Korea Advanced Institute of Science and Techno...,Asia,851,8613,9464,95,True,None,0.824561,KAIST - Korea Advanced Institute of Science & ...
108,Germany,305.0,1070.0,1375.0,Freie Universitaet Berlin,Europe,5735.0,27177.0,32912.0,125,...,Free University of Berlin,Europe,7163,26951,34114,88,True,None,0.840000,Freie Universitaet Berlin
106,Germany,407.0,1559.0,1966.0,Humboldt-Universität zu Berlin,Europe,4805.0,28393.0,33198.0,120,...,Humboldt University of Berlin,Europe,5469,26703,32172,62,True,None,0.847458,Humboldt-Universität zu Berlin
44,Hong Kong,1074.0,1134.0,2208.0,The Chinese University of Hong Kong (CUHK),Asia,4824.0,13213.0,18037.0,46,...,Chinese University of Hong Kong,Asia,5602,12470,18072,58,True,None,0.849315,The Chinese University of Hong Kong (CUHK)
50,United States,NaN,NaN,NaN,New York University (NYU),North America,NaN,NaN,NaN,52,...,New York University,North America,11403,32457,43860,27,True,None,0.863636,New York University (NYU)
3,United States,350.0,603.0,953.0,California Institute of Technology (Caltech),North America,647.0,1608.0,2255.0,4,...,California Institute of Technology,North America,596,1613,2209,3,True,None,0.871795,California Institute of Technology (Caltech)
65,South Korea,113.0,551.0,664.0,Pohang University of Science And Technology (P...,Asia,126.0,2991.0,3117.0,71,...,Pohang University of Science and Technology,Asia,121,2925,3046,137,True,None,0.875000,Pohang University of Science And Technology (P...
131,Belgium,406.0,813.0,1219.0,Université catholique de Louvain (UCL),Europe,4468.0,19809.0,24277.0,153,...,Université Catholique de Louvain,Europe,4645,19806,24451,129,True,None,0.885714,Université catholique de Louvain (UCL)
6,United Kingdom,2554.0,3791.0,6345.0,UCL (University College London),Europe,14854.0,16226.0,31080.0,7,...,University College London,Europe,14848,15456,30304,16,True,None,0.892857,UCL (University College London)
11,Switzerland,1300.0,395.0,1695.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Europe,5896.0,4447.0,10343.0,12,...,École Polytechnique Fédérale de Lausanne,Europe,5460,4468,9928,38,True,None,0.896552,Ecole Polytechnique Fédérale de Lausanne (EPFL)
69,Taiwan,220.0,2587.0,2807.0,National Taiwan University (NTU),Asia,3152.0,29043.0,32195.0,76,...,National Taiwan University,Asia,2540,29218,31758,198,True,None,0.896552,National Taiwan University (NTU)
27,Japan,254.0,4260.0,4514.0,The University of Tokyo,Asia,2639.0,24640.0,27279.0,28,...,University of Tokyo,Asia,2600,23400,26000,46,True,None,0.904762,The University of Tokyo
136,United Kingdom,597.0,1159.0,1756.0,The University of Exeter,Europe,5504.0,15245.0,20749.0,158,...,University of Exeter,Europe,5364,13795,19159,130,True,None,0.909091,The University of Exeter
48,Australia,1829.0,1531.0,3360.0,The University of Sydney,Oceania,17030.0,29648.0,46678.0,50,...,University of Sydney,Oceania,14256,30297,44553,61,True,None,0.909091,The University of Sydney
38,United States,870.0,2824.0,3694.0,"University of California, San Diego (UCSD)",North America,6644.0,25593.0,32237.0,38,...,"University of California, San Diego",North America,5037,24596,29633,31,True,None,0.909091,"University of California, San Diego (UCSD)"
78,United States,1696.0,4215.0,5911.0,The Ohio State University,North America,6874.0,36282.0,43156.0,86,...,Ohio State University,North America,6914,46276,53190,70,True,None,0.913043,The Ohio State University
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,South Korea,324.0,3232.0,3556.0,Sungkyunkwan University (SKKU),Asia,2818.0,21103.0,23921.0,108,...,Sungkyunkwan University (SKKU),Asia,2886,21169,24055,111,True,None,1.000000,Sungkyunkwan University (SKKU)
94,United States,1334.0,1913.0,3247.0,Purdue University,North America,8787.0,29356.0,38143.0,105,...,Purdue University,North America,8917,29853,38770,60,True,None,1.000000,Purdue University
93,Netherlands,322.0,479.0,801.0,Eindhoven University of Technology,Europe,1275.0,6361.0,7636.0,104,...,Eindhoven University of Technology,Europe,1298,6339,7637,141,True,None,1.000000,Eindhoven University of Technology
92,Finland,535.0,2110.0,2645.0,University of Helsinki,Europe,1234.0,21185.0,22419.0,102,...,University of Helsinki,Europe,1351,21181,22532,90,True,None,1.000000,University of Helsinki
91,United Kingdom,1017.0,1803.0,2820.0,University of Southampton,Europe,7789.0,15986.0,23775.0,102,...,University of Southampton,Europe,7151,14519,21670,126,True,None,1.000000,University of Southampton
90,United Kingdom,870.0,2155.0,3025.0,University of Leeds,Europe,7534.0,22111.0,29645.0,101,...,University of Leeds,Europe,7278,20717,27995,139,True,None,1.000000,University of Leeds
88,Sweden,494.0,1006.0,1500.0,KTH Royal Institute of Technology,Europe,1937.0,10721.0,12658.0,98,...,KTH Royal Institute of Technology,Europe,2201,10750,12951,173,True,None,1.000000,KTH Royal Institute of Technology
87,Switzerland,1029.0,723.0,1752.0,University of Geneva,Europe,6104.0,9740.0,15844.0,98,...,University of Geneva,Europe,6434,9651,16085,130,True,None,1.000000,University of Geneva
86,China,155.0,1837.0,1992.0,University of Science and Technology of China,Asia,548.0,15484.0,16032.0,97,...,University of Science and Technology of China,Asia,480,15552,16032,132,True,None,1.000000,University of Science and Technology of China
84,United States,211.0,3298.0,3509.0,Pennsylvania State University,North America,7081.0,38531.0,45612.0,93,...,Pennsylvania State University,North America,6357,39054,45411,77,True,None,1.000000,Pennsylvania State University
82,United Kingdom,485.0,655.0,1140.0,University of St Andrews,Europe,4030.0,4770.0,8800.0,92,...,University of St Andrews,Europe,4322,4683,9005,143,True,None,1.000000,University of St Andrews
81,Canada,1294.0,2267.0,3561.0,University of Alberta,North America,8203.0,23562.0,31765.0,90,...,University of Alberta,North America,8433,24002,32435,119,True,None,1.000000,University of Alberta
159,United States,206.0,3240.0,3446.0,Texas A&M University,North America,4900.0,55394.0,60294.0,195,...,Texas A&M University,North America,5062,51183,56245,159,True,None,1.000000,Texas A&M University
98,Netherlands,581.0,1743.0,2324.0,Leiden University,Europe,3488.0,23025.0,26513.0,109,...,Leiden University,Europe,2979,21846,24825,67,True,None,1.000000,Leiden University
79,China,1913.0,2594.0,4507.0,Zhejiang University,Asia,4625.0,36244.0,40869.0,87,...,Zhejiang University,Asia,3003,47048,50051,177,True,None,1.000000,Zhejiang University
73,United States,379.0,2778.0,3157.0,Boston University,North America,7041.0,18621.0,25662.0,81,...,Boston University,North America,6208,18625,24833,70,True,None,1.000000,Boston University
71,Sweden,1002.0,2029.0,3031.0,Lund University,Europe,6408.0,21378.0,27786.0,78,...,Lund University,Europe,4586,24077,28663,93,True,None,1.000000,Lund University
70,United Kingdom,586.0,953.0,1539.0,Durham University,Europe,4690.0,12055.0,16745.0,78,...,Durham University,Europe,4729,11581,16310,97,True,None,1.000000,Durham University
68,Switzerland,2617.0,2380.0,4997.0,University of Zurich,Europe,5036.0,21029.0,26065.0,73,...,University of Zurich,Europe,5272,21091,26363,136,True,None,1.000000,University of Zurich
67,Denmark,2336.0,5147.0,7483.0,University of Copenhagen,Europe,3683.0,28436.0,32119.0,73,...,University of Copenhagen,Europe,4255,26140,30395,109,True,None,1.000000,University of Copenhagen
66,Belgium,784.0,1731.0,2515.0,KU Leuven,Europe,6926.0,38612.0,45538.0,71,...,KU Leuven,Europe,6661,37751,44412,47,True,None,1.000000,KU Leuven
64,United States,75.0,1058.0,1133.0,Georgia Institute of Technology,North America,4761.0,16321.0,21082.0,70,...,Georgia Institute of Technology,North America,5608,15165,20773,33,True,None,1.000000,Georgia Institute of Technology
63,United States,259.0,2295.0,2554.0,University of Illinois at Urbana-Champaign,North America,9483.0,32944.0,42427.0,69,...,University of Illinois at Urbana-Champaign,North America,9982,33420,43402,37,True,None,1.000000,University of Illinois at Urbana-Champaign
62,United States,108.0,2725.0,2833.0,University of Texas at Austin,North America,4744.0,43251.0,47995.0,67,...,University of Texas at Austin,North America,4856,43705,48561,49,True,None,1.000000,University of Texas at Austin
61,United Kingdom,956.0,1819.0,2775.0,University of Glasgow,Europe,8149.0,15666.0,23815.0,65,...,University of Glasgow,Europe,8420,14969,23389,80,True,None,1.000000,University of Glasgow
60,Germany,1174.0,4676.0,5850.0,Technical University of Munich,Europe,6181.0,32545.0,38726.0,64,...,Technical University of Munich,Europe,8898,29791,38689,41,True,None,1.000000,Technical University of Munich
59,China,887.0,2657.0,3544.0,Shanghai Jiao Tong University,Asia,2858.0,36073.0,38931.0,62,...,Shanghai Jiao Tong University,Asia,2237,35051,37288,188,True,None,1.000000,Shanghai Jiao Tong University
58,United States,550.0,1934.0,2484.0,University of Washington,North America,8373.0,48600.0,56973.0,61,...,University of Washington,North America,7191,37754,44945,25,True,None,1.000000,University of Washington
76,United Kingdom,1028.0,1934.0,2962.0,University of Birmingham,Europe,7795.0,20865.0,28660.0,84,...,University of Birmingham,Europe,7306,19755,27061,141,True,None,1.000000,University of Birmingham
160,Netherlands,502.0,775.0,1277.0,Maastricht University,Europe,8234.0,8151.0,16385.0,200,...,Maastricht University,Europe,8363,8364,16727,103,True,None,1.000000,Maastricht University