In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as rq
from bs4 import BeautifulSoup as bs
import re
import pickle

In [6]:
# Found using Postman and intercepting traffics while visiting topuniversities.com
top_universities_url = 'https://www.topuniversities.com'
top_universities_ranking_url = top_universities_url + '/sites/default/files/qs-rankings-data/357051.txt'

In [36]:
def match_number(text):
    ''' [-+]?[0-9]*\.?[0-9]+ '''
    return float(re.sub('[^-+0-9.]', '', text))

def extract_number(html, selector):
    number_tag = html.select_one(selector)
    if number_tag is None:
        return float('NaN')
    else:
        return float(match_number(number_tag.get_text()))

def fetch_university_infos(university):
    university_request = rq.get(top_universities_url + university['url'])
    university_html = bs(university_request.text, 'html.parser')
    university_data = dict()
    
    university_data['name'] = university['title']
    university_data['rank'] = int(match_number(university['rank_display']))
    university_data['region'] = university['region']
    university_data['country'] = university['country']
    university_data['faculty_total'] = extract_number(university_html, 'div.faculty.total div.number')
    university_data['faculty_inter'] = extract_number(university_html, 'div.faculty.inter div.number')
    university_data['faculty_local'] = university_data['faculty_total'] - university_data['faculty_inter']
    university_data['student_total'] = extract_number(university_html, 'div.student.total div.number')
    university_data['student_inter'] = extract_number(university_html, 'div.inter.total div.number')
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    
    return university_data

try:
    top_universities_file = open('top_universities.pickle', 'rb')
    top_universities = pickle.load(top_universities_file)
except:
    top_universities_json = (rq.get(top_universities_ranking_url).json())['data']
    top_universities = pd.DataFrame(list(map(fetch_university_infos, top_universities_json[0:200])))
    top_universities_file = open('top_universities.pickle', 'wb')
    pickle.dump(top_universities, top_universities_file)

In [37]:
top_universities

,country,faculty_inter,faculty_local,faculty_total,name,rank,region,student_inter,student_local,student_total
0,United States,1679.0,1303.0,2982.0,Massachusetts Institute of Technology (MIT),1,North America,3717.0,7350.0,11067.0
1,United States,2042.0,2243.0,4285.0,Stanford University,2,North America,3611.0,12267.0,15878.0
2,United States,1311.0,3039.0,4350.0,Harvard University,3,North America,5266.0,17163.0,22429.0
3,United States,350.0,603.0,953.0,California Institute of Technology (Caltech),4,North America,647.0,1608.0,2255.0
4,United Kingdom,2278.0,3212.0,5490.0,University of Cambridge,5,Europe,6699.0,12071.0,18770.0
5,United Kingdom,2964.0,3786.0,6750.0,University of Oxford,6,Europe,7353.0,12367.0,19720.0
6,United Kingdom,2554.0,3791.0,6345.0,UCL (University College London),7,Europe,14854.0,16226.0,31080.0
7,United Kingdom,2071.0,1859.0,3930.0,Imperial College London,8,Europe,8746.0,7344.0,16090.0
8,United States,635.0,1814.0,2449.0,University of Chicago,9,North America,3379.0,10178.0,13557.0
9,Switzerland,1886.0,591.0,2477.0,ETH Zurich - Swiss Federal Institute of Techno...,10,Europe,7563.0,12252.0,19815.0
10,Singapore,2993.0,1345.0,4338.0,"Nanyang Technological University, Singapore (NTU)",11,Asia,7251.0,18487.0,25738.0
11,Switzerland,1300.0,395.0,1695.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Europe,5896.0,4447.0,10343.0
12,United States,246.0,761.0,1007.0,Princeton University,13,North America,1793.0,6276.0,8069.0
13,United States,970.0,1748.0,2718.0,Cornell University,14,North America,5411.0,16493.0,21904.0
14,Singapore,3086.0,2020.0,5106.0,National University of Singapore (NUS),15,Asia,8917.0,23811.0,32728.0
15,United States,1708.0,3232.0,4940.0,Yale University,16,North America,2469.0,9933.0,12402.0
16,United States,1061.0,3401.0,4462.0,Johns Hopkins University,17,North America,4105.0,12041.0,16146.0
17,United States,913.0,5276.0,6189.0,Columbia University,18,North America,8105.0,16940.0,25045.0
18,United States,1383.0,4116.0,5499.0,University of Pennsylvania,19,North America,4250.0,16389.0,20639.0
19,Australia,927.0,673.0,1600.0,The Australian National University,20,Oceania,5551.0,8891.0,14442.0
20,United States,226.0,2712.0,2938.0,Duke University,21,North America,2864.0,12456.0,15320.0
21,United States,1920.0,4889.0,6809.0,University of Michigan,21,North America,7527.0,35620.0,43147.0
22,United Kingdom,1513.0,2137.0,3650.0,King's College London,23,Europe,9451.0,14329.0,23780.0
23,United Kingdom,1553.0,2522.0,4075.0,The University of Edinburgh,23,Europe,10551.0,17489.0,28040.0
24,China,932.0,4574.0,5506.0,Tsinghua University,25,Asia,4072.0,32228.0,36300.0
25,Hong Kong,2085.0,927.0,3012.0,The University of Hong Kong,26,Asia,8230.0,11984.0,20214.0
26,United States,1395.0,1926.0,3321.0,"University of California, Berkeley (UCB)",27,North America,6086.0,30617.0,36703.0
27,United States,1141.0,3090.0,4231.0,Northwestern University,28,North America,3422.0,15253.0,18675.0
28,Japan,254.0,4260.0,4514.0,The University of Tokyo,28,Asia,2639.0,24640.0,27279.0
29,Hong Kong,835.0,315.0,1150.0,The Hong Kong University of Science and Techno...,30,Asia,2921.0,7454.0,10375.0
...,...,...,...,...,...,...,...,...,...,...
170,Germany,413.0,1553.0,1966.0,Albert-Ludwigs-Universitaet Freiburg,171,Europe,3897.0,19317.0,23214.0
171,India,4.0,462.0,466.0,Indian Institute of Technology Delhi (IITD),172,Asia,80.0,7397.0,7477.0
172,United States,487.0,2022.0,2509.0,University of Virginia,173,North America,1899.0,19661.0,21560.0
173,Saudi Arabia,665.0,397.0,1062.0,King Fahd University of Petroleum & Minerals,173,Asia,989.0,5051.0,6040.0
174,United Kingdom,717.0,1673.0,2390.0,University of Liverpool,173,Europe,7502.0,14563.0,22065.0
175,Australia,546.0,782.0,1328.0,University of Technology Sydney,176,Oceania,7769.0,16438.0,24207.0
176,France,137.0,392.0,529.0,CentraleSupélec,177,Europe,1132.0,2745.0,3877.0
177,United States,504.0,4915.0,5419.0,University of Florida,178,North America,4597.0,40888.0,45485.0
178,Netherlands,299.0,611.0,910.0,University of Twente,179,Europe,2235.0,7097.0,9332.0
179,India,19.0,857.0,876.0,Indian Institute of Technology Bombay (IITB),179,Asia,93.0,9309.0,9402.0
180,Germany,641.0,3037.0,3678.0,University of Göttingen,181,Europe,3736.0,26666.0,30402.0
181,Belgium,515.0,1277.0,1792.0,Vrije Universiteit Brussel (VUB),182,Europe,1853.0,7431.0,9284.0
182,Brazil,109.0,1859.0,1968.0,Universidade Estadual de Campinas (Unicamp),182,Latin America,966.0,25606.0,26572.0
183,United States,566.0,3119.0,3685.0,University of Colorado Boulder,182,North America,2679.0,27540.0,30219.0
184,Austria,172.0,534.0,706.0,Vienna University of Technology,182,Europe,5199.0,12280.0,17479.0
185,United States,488.0,2081.0,2569.0,University of Rochester,186,North America,2805.0,6831.0,9636.0
186,Spain,181.0,2557.0,2738.0,Universidad Autónoma de Madrid,187,Europe,2976.0,23535.0,26511.0
187,Italy,153.0,2837.0,2990.0,Alma Mater Studiorum - University of Bologna,188,Europe,4195.0,59204.0,63399.0
188,United Kingdom,422.0,858.0,1280.0,University of Reading,188,Europe,4077.0,9253.0,13330.0
189,India,NaN,NaN,423.0,Indian Institute of Science (IISc) Bangalore,190,Asia,47.0,4024.0,4071.0
190,South Africa,379.0,1354.0,1733.0,University of Cape Town,191,Africa,3325.0,16268.0,19593.0
191,Japan,261.0,3644.0,3905.0,Keio University CEMS MIM,192,Asia,2178.0,31322.0,33500.0
192,Italy,1.0,85.0,86.0,Scuola Normale Superiore di Pisa,192,Europe,48.0,484.0,532.0
193,Italy,1.0,118.0,119.0,Scuola Superiore Sant'Anna Pisa di Studi Unive...,192,Europe,135.0,654.0,789.0
194,United States,206.0,3240.0,3446.0,Texas A&M University,195,North America,4900.0,55394.0,60294.0
195,Sweden,646.0,1508.0,2154.0,Stockholm University,195,Europe,2636.0,25645.0,28281.0
196,Spain,230.0,1957.0,2187.0,Universitat Autònoma de Barcelona,195,Europe,3848.0,28138.0,31986.0
197,Mexico,821.0,1001.0,1822.0,Instituto Tecnológico y de Estudios Superiores...,199,Latin America,1412.0,11964.0,13376.0
198,Netherlands,502.0,775.0,1277.0,Maastricht University,200,Europe,8234.0,8151.0,16385.0
199,Chile,127.0,2129.0,2256.0,Universidad de Chile,201,Latin America,2134.0,36714.0,38848.0

In [50]:
top_universities['faculty_student_ratio'] = top_universities.faculty_total / top_universities.student_total
top_universities['inter_student_ratio'] = top_universities.student_inter / top_universities.student_total

top_universities_by_faculty = top_universities.sort_values('faculty_student_ratio', ascending = False)
top_universities_by_inter = top_universities.sort_values('inter_student_ratio', ascending = False)

top_regions = top_universities.groupby('region').sum()
top_regions['faculty_student_ratio'] = top_regions.faculty_total / top_regions.student_total
top_regions['inter_student_ratio'] = top_regions.student_inter / top_regions.student_total
top_regions

,faculty_inter,faculty_local,faculty_total,rank,student_inter,student_local,student_total,faculty_student_ratio,inter_student_ratio
region,,,,,,,,,
Africa,379.0,1354.0,1733.0,191,3325.0,16268.0,19593.0,0.088450,0.169703
Asia,25462.0,80849.0,106734.0,3369,110100.0,696903.0,807003.0,0.132260,0.136431
Europe,67598.0,150760.0,218358.0,10199,449364.0,1507887.0,1957251.0,0.111564,0.229589
Latin America,5648.0,39734.0,45382.0,1037,36871.0,398879.0,435750.0,0.104147,0.084615
North America,43836.0,138287.0,182123.0,4379,292116.0,1254237.0,1546353.0,0.117776,0.188906
Oceania,12786.0,12561.0,25347.0,874,118798.0,231369.0,350167.0,0.072385,0.339261