In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as rq
from bs4 import BeautifulSoup as bs
import re
import pickle

In [2]:
# Found using Postman and intercepting traffics while visiting topuniversities.com
top_universities_url = 'https://www.topuniversities.com'
top_universities_ranking_url = top_universities_url + '/sites/default/files/qs-rankings-data/357051.txt'

the_universities_url = 'https://www.timeshighereducation.com'
the_universities_ranking_url = the_universities_url + '/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

## Top Universities

In [4]:
def match_number(text):
    ''' [-+]?[0-9]*\.?[0-9]+ '''
    return float(re.sub('[^-+0-9.]', '', text))

def extract_number(html, selector):
    number_tag = html.select_one(selector)
    if number_tag is None:
        return float('NaN')
    else:
        return float(match_number(number_tag.get_text()))

def fetch_top_university_infos(university):
    university_request = rq.get(top_universities_url + university['url'])
    university_html = bs(university_request.text, 'html.parser')
    university_data = dict()
    
    university_data['name'] = university['title']
    university_data['rank'] = int(match_number(university['rank_display']))
    university_data['region'] = university['region']
    university_data['country'] = university['country']
    university_data['faculty_total'] = extract_number(university_html, 'div.faculty.total div.number')
    university_data['faculty_inter'] = extract_number(university_html, 'div.faculty.inter div.number')
    university_data['faculty_local'] = university_data['faculty_total'] - university_data['faculty_inter']
    university_data['student_total'] = extract_number(university_html, 'div.student.total div.number')
    university_data['student_inter'] = extract_number(university_html, 'div.inter.total div.number')
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    
    return university_data

try:
    top_universities_file = open('top_universities.pickle', 'rb')
    top_universities = pickle.load(top_universities_file)
except:
    top_universities_json = (rq.get(top_universities_ranking_url).json())['data']
    top_universities = pd.DataFrame(list(map(fetch_top_university_infos, top_universities_json[0:200])))
    
    top_universities.region = top_universities.region.astype('category')
    top_universities.country = top_universities.country.astype('category')
    
    top_universities_file = open('top_universities.pickle', 'wb')
    pickle.dump(top_universities, top_universities_file)
    
# Create the mapping country => region for the other scrapper
country_regions = dict()
for country_region_pair, universities in top_universities.groupby(['country', 'region']):
    country_regions[country_region_pair[0]] = country_region_pair[1]

In [ ]:
top_universities

In [5]:
def ratio_stats(universities):
    universities['faculty_student_ratio'] = universities.faculty_total / universities.student_total
    universities['inter_student_ratio'] = universities.student_inter / universities.student_total
    
    top_by_faculty = (universities.sort_values('faculty_student_ratio', ascending = False))[:20]
    top_by_inter = (universities.sort_values('inter_student_ratio', ascending = False))[:20]
    
    return (top_by_faculty, top_by_inter)

In [6]:
top_universities_by_faculty, top_universities_by_inter = ratio_stats(top_universities)

top_country = top_universities.groupby('country').sum()
top_country_by_faculty, top_country_by_inter = ratio_stats(top_country)

top_regions = top_universities.groupby('region').sum()
top_regions_by_faculty, top_regions_by_inter = ratio_stats(top_regions)

top_country_by_inter

,faculty_inter,faculty_local,faculty_total,student_inter,student_local,student_total,top_rank,faculty_student_ratio,inter_student_ratio
country,,,,,,,,,
Australia,11382.0,10652.0,22034.0,106359.0,195635.0,301994.0,641,0.072962,0.352189
United Kingdom,30216.0,49718.0,79934.0,199426.0,384195.0,583621.0,2462,0.136962,0.341705
Hong Kong,6296.0,3870.0,10166.0,24499.0,54339.0,78838.0,246,0.128948,0.310751
Austria,1572.0,2545.0,4117.0,19667.0,43779.0,63446.0,336,0.064890,0.309980
Switzerland,9208.0,6115.0,15323.0,32995.0,76117.0,109112.0,655,0.140434,0.302396
Singapore,6079.0,3365.0,9444.0,16168.0,42298.0,58466.0,26,0.161530,0.276537
Canada,10734.0,18583.0,29317.0,73239.0,208275.0,281514.0,626,0.104140,0.260161
New Zealand,1404.0,1909.0,3313.0,12439.0,35734.0,48173.0,233,0.068773,0.258215
Ireland,1171.0,1682.0,2853.0,8187.0,26607.0,34794.0,256,0.081997,0.235299
Netherlands,5683.0,14604.0,20287.0,46044.0,151587.0,197631.0,1197,0.102651,0.232980
Argentina,3165.0,13256.0,16421.0,27109.0,95192.0,122301.0,75,0.134267,0.221658
France,815.0,3196.0,4011.0,6864.0,28371.0,35235.0,567,0.113836,0.194806
Malaysia,655.0,2100.0,2755.0,3476.0,14426.0,17902.0,114,0.153893,0.194168
United States,33102.0,119704.0,152806.0,218877.0,1045962.0,1264839.0,3753,0.120811,0.173047
Sweden,3062.0,7267.0,10329.0,17644.0,85709.0,103353.0,616,0.099939,0.170716
South Africa,379.0,1354.0,1733.0,3325.0,16268.0,19593.0,191,0.088450,0.169703
Russia,373.0,6336.0,6709.0,5098.0,25135.0,30233.0,95,0.221910,0.168624
Germany,6402.0,27024.0,33426.0,56455.0,286044.0,342499.0,1351,0.097594,0.164833
Saudi Arabia,665.0,397.0,1062.0,989.0,5051.0,6040.0,173,0.175828,0.163742
Belgium,2187.0,5859.0,8046.0,17013.0,98054.0,115067.0,531,0.069924,0.147853

## Times Higher Education

In [7]:
import math

def fetch_the_university_infos(university):
    university_data = dict()
    
    student_faculty_ratio = match_number(university['stats_student_staff_ratio'])
    inter_student_ratio = match_number(university['stats_pc_intl_students']) / 100.0
    
    university_data['name'] = university['name']
    university_data['rank'] = int(match_number(university['rank']))
    university_data['region'] = country_regions[university['location']]
    university_data['country'] = university['location']
    university_data['student_total'] = int(match_number(university['stats_number_students']))
    university_data['student_inter'] = int(university_data['student_total'] * inter_student_ratio)
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    university_data['faculty_total'] = int(university_data['student_total'] / student_faculty_ratio)
    university_data['faculty_inter'] = float('NaN')
    university_data['faculty_local'] = float('NaN')
    
    return university_data
    
try:
    the_universities_file = open('the_universities.pickle', 'rb')
    the_universities = pickle.load(the_universities_file)
except:
    the_universities_json = (rq.get(the_universities_ranking_url).json())['data']
    the_universities = pd.DataFrame(list(map(fetch_the_university_infos, the_universities_json[0:200])))
        
    the_universities.region = the_universities.region.astype('category')
    the_universities.country = the_universities.country.astype('category')
    
    the_universities_file = open('the_universities.pickle', 'wb')
    pickle.dump(the_universities, the_universities_file)

In [ ]:
the_universities

In [8]:
the_universities_by_faculty, the_universities_by_inter = ratio_stats(the_universities)

the_country = the_universities.groupby('country').sum()
the_country_by_faculty, the_country_by_inter = ratio_stats(the_country)

the_regions = the_universities.groupby('region').sum()
the_regions_by_faculty, the_regions_by_inter = ratio_stats(the_regions)

the_country_by_inter

,faculty_inter,faculty_local,faculty_total,student_inter,student_local,student_total,the_rank,faculty_student_ratio,inter_student_ratio
country,,,,,,,,,
Luxembourg,NaN,NaN,340,2832,2137,4969,179,0.068424,0.569934
United Kingdom,NaN,NaN,44425,213045,383404,596449,3428,0.074482,0.357189
Hong Kong,NaN,NaN,4140,25157,52506,77663,443,0.053307,0.323925
Australia,NaN,NaN,9937,83807,184823,268630,616,0.036991,0.311979
Singapore,NaN,NaN,3364,17084,39017,56101,74,0.059963,0.304522
Switzerland,NaN,NaN,10048,32743,75109,107852,666,0.093165,0.303592
New Zealand,NaN,NaN,1614,8800,21548,30348,192,0.053183,0.289970
Ireland,NaN,NaN,708,4362,11795,16157,117,0.043820,0.269976
Austria,NaN,NaN,1700,9197,26178,35375,165,0.048057,0.259986
Canada,NaN,NaN,13236,55902,193499,249401,403,0.053071,0.224145
Russian Federation,NaN,NaN,4004,6431,22805,29236,194,0.136954,0.219969
France,NaN,NaN,7435,18973,80405,99378,869,0.074815,0.190918
Norway,NaN,NaN,1490,5268,22462,27730,146,0.053732,0.189975
Belgium,NaN,NaN,3426,23766,106349,130115,458,0.026331,0.182654
South Africa,NaN,NaN,1775,3739,17036,20775,171,0.085439,0.179976
Netherlands,NaN,NaN,13599,41559,198621,240180,1381,0.056620,0.173033
United States,NaN,NaN,152317,280338,1425195,1705533,4794,0.089308,0.164370
Spain,NaN,NaN,3041,6509,36972,43481,287,0.069939,0.149698
Germany,NaN,NaN,15346,87481,498883,586364,2169,0.026171,0.149192
Denmark,NaN,NaN,10596,9326,54784,64110,371,0.165278,0.145469

# Merging datasets

In [10]:
from difflib import SequenceMatcher
from collections import defaultdict
from operator import itemgetter

def proximity(a, b):
    return SequenceMatcher(None, a, b).ratio()

proximities = dict()
for top_index, top_uni in top_universities.iterrows():
    for the_index, the_uni in the_universities.iterrows():
        if top_uni['country'] != the_uni['country']:
            continue
        
        prox = proximity(top_uni['name'], the_uni['name'])
        if prox > .5:
            proximities[(top_index, the_index)] = prox
        
proximities

{(0, 2): 0.6753246753246753,
 (0, 4): 0.925,
 (0, 32): 0.6756756756756757,
 (1, 3): 1.0,
 (1, 5): 0.7567567567567568,
 (1, 6): 0.6666666666666666,
 (1, 11): 0.7058823529411765,
 (1, 12): 0.6046511627906976,
 (1, 13): 0.631578947368421,
 (1, 16): 0.6470588235294118,
 (1, 18): 0.7027027027027027,
 (1, 19): 0.6190476190476191,
 (1, 23): 0.6222222222222222,
 (1, 27): 0.6842105263157895,
 (1, 49): 0.6857142857142857,
 (1, 59): 0.7222222222222222,
 (1, 69): 0.7222222222222222,
 (1, 70): 0.7,
 (1, 76): 0.5833333333333334,
 (1, 83): 0.6363636363636364,
 (1, 85): 0.6470588235294118,
 (1, 97): 0.7428571428571429,
 (1, 105): 0.7,
 (1, 116): 0.7027027027027027,
 (1, 122): 0.65,
 (1, 125): 0.6511627906976745,
 (1, 157): 0.56,
 (1, 159): 0.6153846153846154,
 (1, 169): 0.6857142857142857,
 (1, 185): 0.5263157894736842,
 (1, 192): 0.6190476190476191,
 (2, 3): 0.7567567567567568,
 (2, 5): 1.0,
 (2, 6): 0.631578947368421,
 (2, 8): 0.5128205128205128,
 (2, 11): 0.7272727272727273,
 (2, 12): 0.5714285714285714,
 (2, 13): 0.6486486486486487,
 (2, 16): 0.6666666666666666,
 (2, 18): 0.6666666666666666,
 (2, 19): 0.6341463414634146,
 (2, 23): 0.5909090909090909,
 (2, 27): 0.6486486486486487,
 (2, 49): 0.7058823529411765,
 (2, 59): 0.7428571428571429,
 (2, 69): 0.6285714285714286,
 (2, 70): 0.6153846153846154,
 (2, 76): 0.5531914893617021,
 (2, 83): 0.6046511627906976,
 (2, 85): 0.6666666666666666,
 (2, 97): 0.7058823529411765,
 (2, 105): 0.6666666666666666,
 (2, 116): 0.7222222222222222,
 (2, 122): 0.6153846153846154,
 (2, 125): 0.6190476190476191,
 (2, 142): 0.5128205128205128,
 (2, 157): 0.5714285714285714,
 (2, 159): 0.631578947368421,
 (2, 160): 0.5128205128205128,
 (2, 169): 0.6470588235294118,
 (2, 185): 0.5405405405405406,
 (2, 192): 0.6341463414634146,
 (3, 2): 0.8717948717948718,
 (3, 4): 0.6419753086419753,
 (3, 32): 0.7466666666666667,
 (4, 0): 0.7441860465116279,
 (4, 1): 1.0,
 (4, 15): 0.5833333333333334,
 (4, 26): 0.7391304347826086,
 (4, 54): 0.6808510638297872,
 (4, 75): 0.7272727272727273,
 (4, 79): 0.7272727272727273,
 (4, 90): 0.7727272727272727,
 (4, 103): 0.6956521739130435,
 (4, 120): 0.5555555555555556,
 (4, 127): 0.6666666666666666,
 (4, 129): 0.6976744186046512,
 (4, 137): 0.7317073170731707,
 (4, 138): 0.7142857142857143,
 (4, 140): 0.6808510638297872,
 (4, 143): 0.6808510638297872,
 (4, 147): 0.6808510638297872,
 (4, 148): 0.6976744186046512,
 (4, 158): 0.6521739130434783,
 (4, 176): 0.6521739130434783,
 (4, 184): 0.8,
 (4, 186): 0.7441860465116279,
 (4, 187): 0.6666666666666666,
 (4, 196): 0.5084745762711864,
 (5, 0): 1.0,
 (5, 1): 0.7441860465116279,
 (5, 15): 0.6666666666666666,
 (5, 26): 0.6976744186046512,
 (5, 54): 0.6818181818181818,
 (5, 75): 0.7317073170731707,
 (5, 79): 0.7317073170731707,
 (5, 90): 0.7317073170731707,
 (5, 96): 0.5405405405405406,
 (5, 103): 0.7441860465116279,
 (5, 120): 0.6274509803921569,
 (5, 127): 0.6666666666666666,
 (5, 129): 0.8,
 (5, 137): 0.8421052631578947,
 (5, 138): 0.7692307692307693,
 (5, 140): 0.6818181818181818,
 (5, 143): 0.6818181818181818,
 (5, 147): 0.6818181818181818,
 (5, 148): 0.75,
 (5, 158): 0.6976744186046512,
 (5, 162): 0.5263157894736842,
 (5, 176): 0.6976744186046512,
 (5, 184): 0.7619047619047619,
 (5, 186): 0.75,
 (5, 187): 0.6222222222222222,
 (5, 196): 0.5714285714285714,
 (6, 0): 0.5882352941176471,
 (6, 1): 0.5185185185185185,
 (6, 7): 0.6666666666666666,
 (6, 15): 0.8928571428571429,
 (6, 35): 0.6538461538461539,
 (6, 54): 0.509090909090909,
 (6, 79): 0.5769230769230769,
 (6, 103): 0.5185185185185185,
 (6, 120): 0.6451612903225806,
 (6, 127): 0.5357142857142857,
 (6, 129): 0.5490196078431373,
 (6, 137): 0.5714285714285714,
 (6, 138): 0.6,
 (6, 143): 0.5454545454545454,
 (6, 148): 0.5098039215686274,
 (6, 158): 0.5185185185185185,
 (6, 184): 0.5660377358490566,
 (6, 186): 0.5882352941176471,
 (6, 196): 0.5970149253731343,
 (7, 7): 1.0,
 (7, 15): 0.75,
 (7, 35): 0.7272727272727273,
 (8, 5): 0.5128205128205128,
 (8, 8): 1.0,
 (8, 10): 0.6808510638297872,
 (8, 11): 0.5555555555555556,
 (8, 14): 0.6206896551724138,
 (8, 16): 0.5555555555555556,
 (8, 17): 0.6181818181818182,
 (8, 18): 0.5128205128205128,
 (8, 20): 0.7906976744186046,
 (8, 25): 0.8,
 (8, 30): 0.6785714285714286,
 (8, 36): 0.5714285714285714,
 (8, 42): 0.6923076923076923,
 (8, 48): 0.6,
 (8, 49): 0.5405405405405406,
 (8, 52): 0.5666666666666667,
 (8, 53): 0.6538461538461539,
 (8, 55): 0.7272727272727273,
 (8, 56): 0.53125,
 (8, 59): 0.5263157894736842,
 (8, 65): 0.6296296296296297,
 (8, 68): 0.5614035087719298,
 (8, 69): 0.5263157894736842,
 (8, 85): 0.5555555555555556,
 (8, 97): 0.5405405405405406,
 (8, 98): 0.6415094339622641,
 (8, 100): 0.6666666666666666,
 (8, 101): 0.6666666666666666,
 (8, 113): 0.7441860465116279,
 (8, 116): 0.5128205128205128,
 (8, 142): 0.7619047619047619,
 (8, 150): 0.6666666666666666,
 (8, 153): 0.6818181818181818,
 (8, 160): 0.7619047619047619,
 (8, 161): 0.5964912280701754,
 (8, 167): 0.5714285714285714,
 (8, 169): 0.5405405405405406,
 (8, 185): 0.8,
 (8, 190): 0.625,
 (8, 197): 0.6071428571428571,
 (9, 9): 0.9158878504672897,
 (10, 21): 0.6419753086419753,
 (10, 51): 0.9347826086956522,
 (11, 37): 0.896551724137931,
 (12, 3): 0.6153846153846154,
 (12, 5): 0.631578947368421,
 (12, 6): 1.0,
 (12, 11): 0.6857142857142857,
 (12, 12): 0.5909090909090909,
 (12, 13): 0.6153846153846154,
 (12, 16): 0.6857142857142857,
 (12, 18): 0.7368421052631579,
 (12, 19): 0.6976744186046512,
 (12, 23): 0.6956521739130435,
 (12, 27): 0.6153846153846154,
 (12, 49): 0.7777777777777778,
 (12, 50): 0.6037735849056604,
 (12, 59): 0.7567567567567568,
 (12, 69): 0.7567567567567568,
 (12, 70): 0.6341463414634146,
 (12, 76): 0.5714285714285714,
 (12, 83): 0.6222222222222222,
 (12, 85): 0.8,
 (12, 97): 0.6666666666666666,
 (12, 105): 0.6829268292682927,
 (12, 116): 0.6842105263157895,
 (12, 122): 0.7804878048780488,
 (12, 125): 0.6818181818181818,
 (12, 157): 0.5490196078431373,
 (12, 159): 0.6,
 (12, 169): 0.6666666666666666,
 (12, 185): 0.5128205128205128,
 (12, 192): 0.6976744186046512,
 (13, 3): 0.7027027027027027,
 (13, 5): 0.6666666666666666,
 (13, 6): 0.6842105263157895,
 (13, 8): 0.5128205128205128,
 (13, 11): 0.7272727272727273,
 (13, 12): 0.6190476190476191,
 (13, 13): 0.7567567567567568,
 (13, 16): 0.7272727272727273,
 (13, 18): 1.0,
 (13, 19): 0.6829268292682927,
 (13, 23): 0.7727272727272727,
 (13, 27): 0.7027027027027027,
 (13, 49): 0.7647058823529411,
 (13, 50): 0.5098039215686274,
 (13, 59): 0.7428571428571429,
 (13, 69): 0.7428571428571429,
 (13, 70): 0.6666666666666666,
 (13, 76): 0.5531914893617021,
 (13, 83): 0.6046511627906976,
 (13, 85): 0.7272727272727273,
 (13, 97): 0.7647058823529411,
 (13, 105): 0.6666666666666666,
 (13, 116): 0.6666666666666666,
 (13, 122): 0.717948717948718,
 (13, 125): 0.6666666666666666,
 (13, 142): 0.5128205128205128,
 (13, 157): 0.6122448979591837,
 (13, 159): 0.631578947368421,
 (13, 160): 0.5128205128205128,
 (13, 169): 0.6470588235294118,
 (13, 185): 0.5405405405405406,
 (13, 192): 0.6829268292682927,
 (14, 21): 0.9142857142857143,
 (14, 51): 0.6419753086419753,
 (15, 3): 0.7058823529411765,
 (15, 5): 0.7272727272727273,
 (15, 6): 0.6857142857142857,
 (15, 8): 0.5555555555555556,
 (15, 11): 1.0,
 (15, 12): 0.5641025641025641,
 (15, 13): 0.7058823529411765,
 (15, 16): 0.8,
 (15, 18): 0.7272727272727273,
 (15, 19): 0.631578947368421,
 (15, 20): 0.5405405405405406,
 (15, 23): 0.6341463414634146,
 (15, 25): 0.5128205128205128,
 (15, 27): 0.7058823529411765,
 (15, 49): 0.7096774193548387,
 (15, 55): 0.5263157894736842,
 (15, 59): 0.75,
 (15, 69): 0.6875,
 (15, 70): 0.7222222222222222,
 (15, 76): 0.5909090909090909,
 (15, 83): 0.65,
 (15, 85): 0.8,
 (15, 97): 0.7096774193548387,
 (15, 101): 0.5128205128205128,
 (15, 105): 0.7222222222222222,
 (15, 113): 0.5405405405405406,
 (15, 116): 0.7272727272727273,
 (15, 122): 0.6666666666666666,
 (15, 125): 0.6666666666666666,
 (15, 142): 0.5555555555555556,
 (15, 150): 0.5128205128205128,
 (15, 153): 0.5263157894736842,
 (15, 157): 0.5652173913043478,
 (15, 159): 0.6857142857142857,
 (15, 160): 0.5555555555555556,
 (15, 169): 0.7096774193548387,
 (15, 185): 0.5882352941176471,
 (15, 192): 0.6842105263157895,
 (16, 3): 0.5581395348837209,
 (16, 5): 0.5714285714285714,
 (16, 6): 0.5909090909090909,
 (16, 11): 0.5641025641025641,
 (16, 12): 1.0,
 (16, 13): 0.6046511627906976,
 (16, 16): 0.6153846153846154,
 (16, 18): 0.6190476190476191,
 (16, 19): 0.5957446808510638,
 (16, 23): 0.52,
 (16, 27): 0.6046511627906976,
 (16, 49): 0.65,
 (16, 59): 0.5365853658536586,
 (16, 69): 0.6341463414634146,
 (16, 70): 0.5777777777777777,
 (16, 76): 0.5283018867924528,
 (16, 83): 0.5714285714285714,
 (16, 85): 0.6153846153846154,
 (16, 97): 0.6,
 (16, 105): 0.5777777777777777,
 (16, 116): 0.6666666666666666,
 (16, 122): 0.5777777777777777,
 (16, 125): 0.5833333333333334,
 (16, 159): 0.5909090909090909,
 (16, 169): 0.6,
 (16, 192): 0.5957446808510638,
 (17, 3): 0.631578947368421,
 (17, 5): 0.6486486486486487,
 (17, 6): 0.6153846153846154,
 (17, 11): 0.7058823529411765,
 (17, 12): 0.6046511627906976,
 (17, 13): 1.0,
 (17, 16): 0.7058823529411765,
 (17, 18): 0.7567567567567568,
 (17, 19): 0.5714285714285714,
 (17, 23): 0.5777777777777777,
 (17, 27): 0.631578947368421,
 (17, 49): 0.6857142857142857,
 (17, 59): 0.6666666666666666,
 (17, 69): 0.6666666666666666,
 (17, 70): 0.65,
 (17, 76): 0.5833333333333334,
 (17, 83): 0.5909090909090909,
 (17, 85): 0.7058823529411765,
 (17, 97): 0.6857142857142857,
 (17, 105): 0.65,
 (17, 116): 0.7027027027027027,
 (17, 122): 0.6,
 (17, 125): 0.6046511627906976,
 (17, 157): 0.52,
 (17, 159): 0.6153846153846154,
 (17, 169): 0.6857142857142857,
 (17, 185): 0.5263157894736842,
 (17, 192): 0.6190476190476191,
 (18, 8): 0.6382978723404256,
 (18, 10): 1.0,
 (18, 14): 0.5714285714285714,
 (18, 17): 0.6,
 (18, 20): 0.6666666666666666,
 (18, 25): 0.64,
 (18, 30): 0.5901639344262295,
 (18, 36): 0.5588235294117647,
 (18, 42): 0.631578947368421,
 (18, 48): 0.5818181818181818,
 (18, 52): 0.5538461538461539,
 (18, 53): 0.631578947368421,
 (18, 55): 0.7346938775510204,
 (18, 65): 0.6779661016949152,
 (18, 68): 0.6129032258064516,
 (18, 98): 0.6206896551724138,
 (18, 100): 0.5357142857142857,
 (18, 101): 0.64,
 (18, 113): 0.7083333333333334,
 (18, 142): 0.6808510638297872,
 (18, 150): 0.64,
 (18, 153): 0.6530612244897959,
 (18, 160): 0.6808510638297872,
 (18, 161): 0.5806451612903226,
 (18, 167): 0.5245901639344263,
 (18, 185): 0.7111111111111111,
 (18, 190): 0.6037735849056604,
 (18, 197): 0.5901639344262295,
 (19, 47): 0.9375,
 (19, 80): 0.5490196078431373,
 (20, 8): 0.7906976744186046,
 (20, 10): 0.6666666666666666,
 (20, 11): 0.5405405405405406,
 (20, 14): 0.576271186440678,
 (20, 16): 0.5405405405405406,
 (20, 17): 0.6071428571428571,
 (20, 20): 1.0,
 (20, 25): 0.782608695652174,
 (20, 30): 0.631578947368421,
 (20, 36): 0.59375,
 (20, 42): 0.6415094339622641,
 (20, 48): 0.6274509803921569,
 (20, 49): 0.5263157894736842,
 (20, 52): 0.5901639344262295,
 (20, 53): 0.6415094339622641,
 (20, 55): 0.7555555555555555,
 (20, 56): 0.5230769230769231,
 (20, 59): 0.5128205128205128,
 (20, 65): 0.6181818181818182,
 (20, 68): 0.5862068965517241,
 (20, 69): 0.5128205128205128,
 (20, 85): 0.5405405405405406,
 (20, 97): 0.5263157894736842,
 (20, 98): 0.6666666666666666,
 (20, 100): 0.5769230769230769,
 (20, 101): 0.6956521739130435,
 (20, 113): 0.7727272727272727,
 (20, 142): 0.7441860465116279,
 (20, 150): 0.6521739130434783,
 (20, 153): 0.7111111111111111,
 (20, 160): 0.7441860465116279,
 (20, 161): 0.6206896551724138,
 (20, 167): 0.5964912280701754,
 (20, 169): 0.5263157894736842,
 (20, 185): 0.8292682926829268,
 (20, 190): 0.6938775510204082,
 (20, 197): 0.5964912280701754,
 (21, 3): 0.6470588235294118,
 (21, 5): 0.6666666666666666,
 (21, 6): 0.6857142857142857,
 (21, 8): 0.5555555555555556,
 (21, 11): 0.8,
 (21, 12): 0.6153846153846154,
 (21, 13): 0.7058823529411765,
 (21, 16): 1.0,
 (21, 18): 0.7272727272727273,
 (21, 19): 0.631578947368421,
 (21, 20): 0.5405405405405406,
 (21, 23): 0.5853658536585366,
 (21, 25): 0.5128205128205128,
 (21, 27): 0.7058823529411765,
 (21, 49): 0.7096774193548387,
 (21, 55): 0.5263157894736842,
 (21, 59): 0.8125,
 (21, 69): 0.6875,
 (21, 70): 0.6666666666666666,
 (21, 76): 0.5454545454545454,
 (21, 83): 0.6,
 (21, 85): 0.8,
 (21, 97): 0.7096774193548387,
 (21, 101): 0.5128205128205128,
 (21, 105): 0.6666666666666666,
 (21, 113): 0.5405405405405406,
 (21, 116): 0.6666666666666666,
 (21, 122): 0.6666666666666666,
 (21, 125): 0.6153846153846154,
 (21, 142): 0.5555555555555556,
 (21, 150): 0.5128205128205128,
 (21, 153): 0.5263157894736842,
 (21, 157): 0.5217391304347826,
 (21, 159): 0.6857142857142857,
 (21, 160): 0.5555555555555556,
 (21, 169): 0.7741935483870968,
 (21, 185): 0.5882352941176471,
 (21, 192): 0.631578947368421,
 (22, 0): 0.6382978723404256,
 (22, 1): 0.64,
 (22, 15): 0.5769230769230769,
 (22, 26): 0.92,
 (22, 54): 0.6274509803921569,
 (22, 75): 0.625,
 (22, 79): 0.625,
 (22, 90): 0.625,
 (22, 96): 0.5454545454545454,
 (22, 103): 0.6,
 (22, 120): 0.6206896551724138,
 (22, 127): 0.5769230769230769,
 (22, 129): 0.6808510638297872,
 (22, 137): 0.6666666666666666,
 (22, 138): 0.6521739130434783,
 (22, 140): 0.7058823529411765,
 (22, 143): 0.6274509803921569,
 (22, 147): 0.7058823529411765,
 (22, 148): 0.6382978723404256,
 (22, 149): 0.5106382978723404,
 (22, 158): 0.64,
 (22, 175): 0.5106382978723404,
 (22, 176): 0.64,
 (22, 184): 0.6530612244897959,
 (22, 186): 0.6382978723404256,
 (22, 187): 0.6153846153846154,
 (22, 196): 0.5396825396825397,
 (23, 7): 0.7272727272727273,
 (23, 15): 0.7391304347826086,
 (23, 35): 0.9523809523809523,
 (24, 28): 0.7777777777777778,
 (24, 29): 1.0,
 (24, 115): 0.6857142857142857,
 (24, 168): 0.7567567567567568,
 (24, 177): 0.7368421052631579,
 (24, 188): 0.625,
 (25, 39): 0.92,
 (25, 57): 0.896551724137931,
 (25, 119): 0.8727272727272727,
 (26, 8): 0.5573770491803278,
 (26, 10): 0.5454545454545454,
 (26, 14): 0.7532467532467533,
 (26, 17): 0.918918918918919,
 (26, 20): 0.5161290322580645,
 (26, 25): 0.5625,
 (26, 30): 0.72,
 (26, 42): 0.5070422535211268,
 (26, 52): 0.7088607594936709,
 (26, 53): 0.7323943661971831,
 (26, 56): 0.5783132530120482,
 (26, 65): 0.6575342465753424,
 (26, 68): 0.5789473684210527,
 (26, 98): 0.75,
 (26, 100): 0.6571428571428571,
 (26, 113): 0.6129032258064516,
 (26, 142): 0.6229508196721312,
 (26, 153): 0.5396825396825397,
 (26, 161): 0.7105263157894737,
 (26, 167): 0.5066666666666667,
 (26, 185): 0.5423728813559322,
 (26, 190): 0.5074626865671642,
 (26, 197): 0.7733333333333333,
 (27, 45): 0.9047619047619048,
 (27, 73): 0.5641025641025641,
 (28, 3): 0.6190476190476191,
 (28, 5): 0.6341463414634146,
 (28, 6): 0.6046511627906976,
 (28, 11): 0.631578947368421,
 (28, 12): 0.6382978723404256,
 (28, 13): 0.5714285714285714,
 (28, 16): 0.631578947368421,
 (28, 18): 0.6829268292682927,
 (28, 19): 1.0,
 (28, 23): 0.5306122448979592,
 (28, 27): 0.6666666666666666,
 (28, 49): 0.717948717948718,
 (28, 59): 0.65,
 (28, 69): 0.75,
 (28, 70): 0.6818181818181818,
 (28, 76): 0.5384615384615384,
 (28, 83): 0.5833333333333334,
 (28, 85): 0.631578947368421,
 (28, 97): 0.6666666666666666,
 (28, 105): 0.5909090909090909,
 (28, 116): 0.5853658536585366,
 (28, 122): 0.7272727272727273,
 (28, 125): 0.6382978723404256,
 (28, 157): 0.6296296296296297,
 (28, 159): 0.6046511627906976,
 (28, 169): 0.6666666666666666,
 (28, 171): 0.5151515151515151,
 (28, 192): 0.9565217391304348,
 (29, 43): 0.9583333333333334,
 (29, 57): 0.5185185185185185,
 (30, 22): 1.0,
 (30, 33): 0.5882352941176471,
 (30, 41): 0.5263157894736842,
 (30, 107): 0.7906976744186046,
 (30, 118): 0.7619047619047619,
 (31, 22): 0.5263157894736842,
 (31, 41): 1.0,
 (31, 77): 0.7222222222222222,
 (31, 107): 0.5128205128205128,
 (31, 118): 0.5263157894736842,
 (32, 8): 0.5230769230769231,
 (32, 10): 0.5142857142857142,
 (32, 14): 0.9135802469135802,
 (32, 17): 0.7435897435897436,
 (32, 25): 0.5294117647058824,
 (32, 30): 0.6835443037974683,
 (32, 36): 0.5116279069767442,
 (32, 48): 0.5205479452054794,
 (32, 52): 0.6506024096385542,
 (32, 53): 0.72,
 (32, 55): 0.5671641791044776,
 (32, 56): 0.5747126436781609,
 (32, 65): 0.6233766233766234,
 (32, 68): 0.575,
 (32, 98): 0.7368421052631579,
 (32, 100): 0.5945945945945946,
 (32, 113): 0.5757575757575758,
 (32, 142): 0.5846153846153846,
 (32, 153): 0.5074626865671642,
 (32, 161): 0.7,
 (32, 167): 0.5063291139240507,
 (32, 185): 0.5079365079365079,
 (32, 190): 0.5352112676056338,
 (32, 197): 0.7088607594936709,
 (33, 0): 0.625,
 (33, 1): 0.6274509803921569,
 (33, 15): 0.5283018867924528,
 (33, 26): 0.6274509803921569,
 (33, 54): 0.9230769230769231,
 (33, 75): 0.6530612244897959,
 (33, 79): 0.6530612244897959,
 (33, 90): 0.6530612244897959,
 (33, 96): 0.5333333333333333,
 (33, 103): 0.6666666666666666,
 (33, 120): 0.576271186440678,
 (33, 127): 0.6037735849056604,
 (33, 129): 0.75,
 (33, 137): 0.6521739130434783,
 (33, 138): 0.6808510638297872,
 (33, 140): 0.5769230769230769,
 (33, 143): 0.6538461538461539,
 (33, 147): 0.5769230769230769,
 (33, 148): 0.625,
 (33, 158): 0.7843137254901961,
 (33, 176): 0.6274509803921569,
 (33, 184): 0.64,
 (33, 186): 0.7083333333333334,
 (33, 187): 0.6415094339622641,
 (34, 24): 0.9411764705882353,
 (35, 45): 0.5714285714285714,
 (35, 73): 1.0,
 (36, 74): 1.0,
 (36, 110): 0.5454545454545454,
 (37, 28): 1.0,
 (37, 29): 0.7777777777777778,
 (37, 115): 0.7272727272727273,
 (37, 168): 0.8,
 (37, 177): 0.8333333333333334,
 (37, 188): 0.6086956521739131,
 (38, 8): 0.5714285714285714,
 (38, 10): 0.5294117647058824,
 (38, 14): 0.7088607594936709,
 (38, 17): 0.7105263157894737,
 (38, 20): 0.5625,
 (38, 25): 0.5454545454545454,
 (38, 30): 0.9090909090909091,
 (38, 36): 0.5238095238095238,
 (38, 52): 0.7407407407407407,
 (38, 53): 0.7671232876712328,
 (38, 65): 0.64,
 (38, 68): 0.5641025641025641,
 (38, 98): 0.7567567567567568,
 (38, 100): 0.5833333333333334,
 (38, 101): 0.5151515151515151,
 (38, 113): 0.59375,
 (38, 142): 0.6031746031746031,
 (38, 150): 0.5757575757575758,
 (38, 161): 0.7948717948717948,
 (38, 185): 0.5573770491803278,
 (38, 197): 0.7272727272727273,
 (39, 28): 0.7272727272727273,
 (39, 29): 0.7428571428571429,
 (39, 115): 1.0,
 (39, 168): 0.7647058823529411,
 (39, 177): 0.7428571428571429,
 (39, 188): 0.5777777777777777,
 (40, 95): 0.8245614035087719,
 (40, 136): 0.6060606060606061,
 (41, 31): 0.92,
 (41, 60): 0.6808510638297872,
 (41, 64): 0.6666666666666666,
 (41, 80): 0.5454545454545454,
 (41, 84): 0.6428571428571429,
 (41, 111): 0.5862068965517241,
 (41, 133): 0.6938775510204082,
 (42, 181): 0.6984126984126984,
 (43, 0): 0.7317073170731707,
 (43, 1): 0.7272727272727273,
 (43, 15): 0.5652173913043478,
 (43, 26): 0.6818181818181818,
 (43, 54): 0.7111111111111111,
 (43, 75): 1.0,
 (43, 79): 0.7619047619047619,
 (43, 90): 0.7619047619047619,
 (43, 96): 0.5263157894736842,
 (43, 103): 0.7272727272727273,
 (43, 120): 0.5769230769230769,
 (43, 127): 0.6956521739130435,
 (43, 129): 0.7317073170731707,
 (43, 137): 0.7692307692307693,
 (43, 138): 0.75,
 (43, 140): 0.7555555555555555,
 (43, 143): 0.7111111111111111,
 (43, 147): 0.6666666666666666,
 (43, 148): 0.7317073170731707,
 (43, 158): 0.7727272727272727,
 (43, 162): 0.5128205128205128,
 (43, 176): 0.7727272727272727,
 (43, 184): 0.6976744186046512,
 (43, 186): 0.6829268292682927,
 (43, 187): 0.7391304347826086,
 (43, 196): 0.5263157894736842,
 (44, 31): 0.5428571428571428,
 (44, 60): 0.5970149253731343,
 (44, 84): 0.7631578947368421,
 (44, 111): 0.5128205128205128,
 (45, 39): 0.7076923076923077,
 (45, 57): 0.8493150684931506,
 (45, 119): 0.7428571428571429,
 (46, 31): 0.6274509803921569,
 (46, 60): 0.625,
 (46, 64): 0.9230769230769231,
 (46, 80): 0.5333333333333333,
 (46, 84): 0.5964912280701754,
 (46, 111): 0.6101694915254238,
 (46, 133): 0.72,
 (47, 3): 0.5777777777777777,
 (47, 5): 0.5909090909090909,
 (47, 6): 0.6956521739130435,
 (47, 11): 0.6341463414634146,
 (47, 12): 0.56,
 (47, 13): 0.5777777777777777,
 (47, 16): 0.5853658536585366,

In [41]:
best_matches = sorted(proximities.items(), key = itemgetter(1), reverse = True)
top_universities['matched'] = False
the_universities['matched'] = False

merged_universities = list()
for indexes, proximity in best_matches:
    top_uni, the_uni = top_universities.loc[indexes[0]], the_universities.loc[indexes[1]]
        
    if not top_uni['matched'] and not the_uni['matched']:
        top_universities.loc[indexes[0],'matched'] = True
        the_universities.loc[indexes[1],'matched'] = True
        merged_uni = pd.concat([top_uni, the_uni], axis = 1)
        merged_universities.append(merged_uni)
        
merged_universities = pd.DataFrame(merged_universities)
merged_universities

                                                     0
0                                             1    ...
1                                            2     ...
2                                                 4...
3                                              5   ...
4                                                 7...
5                                               8  ...
6                                             12   ...
7                                           13     ...
8                                        15        ...
9                                                 1...
10                                           17    ...
11                                                 ...
12                                              20 ...
13                                       21        ...
14                                           24    ...
15                                               28...
16                                             30  ...
17                                         31      ...
18                                        35       ...
19                                                 ...
20                                         37      ...
21                                       39        ...
22                                             43  ...
23                                                 ...
24                                                 ...
25                                                 ...
26                                        52       ...
27                                                 ...
28                                                 ...
29                                               57...
..                                                 ...
130                                                ...
131                                                ...
132                                                ...
133                                               4...
134                                              15...
135                                              27...
136                                                ...
137                                                ...
138                                                ...
139                                                ...
140                                                ...
141                                                ...
142                                                ...
143                                                ...
144                                                ...
145                                               1...
146                                                ...
147                                            129 ...
148                                               1...
149                                           123  ...
150                                                ...
151                                        159     ...
152                                           188  ...
153                                              15...
154                                                ...
155                                                ...
156                                                ...
157                                                ...
158                                                ...
159                                                ...

[160 rows x 1 columns]

In [39]:
top_universities[top_universities.matched == False]

,country,faculty_inter,faculty_local,faculty_total,name,region,student_inter,student_local,student_total,top_rank,faculty_student_ratio,inter_student_ratio,matched
42,France,75.0,103.0,178.0,"Ecole normale suprieure, Paris",Europe,374.0,1533.0,1907.0,43,0.093340,0.196120,False
55,Japan,191.0,1372.0,1563.0,Tokyo Institute of Technology,Asia,1071.0,8761.0,9832.0,56,0.158971,0.108930,False
62,Japan,296.0,2518.0,2814.0,Osaka University,Asia,2106.0,20654.0,22760.0,63,0.123638,0.092531,False
65,Germany,674.0,2600.0,3274.0,Ludwig-Maximilians-Universitt Mnchen,Europe,5084.0,29971.0,35055.0,66,0.093396,0.145029,False
67,Germany,756.0,3152.0,3908.0,Ruprecht-Karls-Universitt Heidelberg,Europe,5298.0,23554.0,28852.0,68,0.135450,0.183627,False
74,Argentina,3165.0,13256.0,16421.0,Universidad de Buenos Aires (UBA),Latin America,27109.0,95192.0,122301.0,75,0.134267,0.221658,False
75,Japan,264.0,3147.0,3411.0,Tohoku University,Asia,1604.0,16223.0,17827.0,76,0.191339,0.089976,False
87,Ireland,544.0,705.0,1249.0,"Trinity College Dublin, The University of Dublin",Europe,4311.0,10650.0,14961.0,88,0.083484,0.288149,False
89,South Korea,339.0,3406.0,3745.0,Korea University,Asia,3638.0,22254.0,25892.0,90,0.144639,0.140507,False
94,Russia,373.0,6336.0,6709.0,Lomonosov Moscow State University,Europe,5098.0,25135.0,30233.0,95,0.221910,0.168624,False
105,South Korea,290.0,3331.0,3621.0,Yonsei University,Asia,3379.0,22524.0,25903.0,106,0.139791,0.130448,False
113,Malaysia,655.0,2100.0,2755.0,Universiti Malaya (UM),Asia,3476.0,14426.0,17902.0,114,0.153893,0.194168,False
115,Japan,206.0,2459.0,2665.0,Nagoya University,Asia,1547.0,14291.0,15838.0,116,0.168266,0.097676,False
120,Brazil,279.0,5303.0,5582.0,Universidade de So Paulo,Latin America,2086.0,63625.0,65711.0,121,0.084948,0.031745,False
121,Mexico,949.0,14124.0,15073.0,Universidad Nacional Autnoma de Mxico (UNAM),Latin America,2173.0,139766.0,141939.0,122,0.106194,0.015309,False
122,Japan,210.0,2395.0,2605.0,Hokkaido University,Asia,1347.0,16205.0,17552.0,122,0.148416,0.076743,False
127,Japan,246.0,2612.0,2858.0,Kyushu University,Asia,1787.0,16873.0,18660.0,128,0.153162,0.095766,False
137,Chile,198.0,2062.0,2260.0,Pontificia Universidad Catlica de Chile (UC),Latin America,991.0,26012.0,27003.0,137,0.083694,0.036700,False
144,Israel,454.0,1795.0,2249.0,The Hebrew University of Jerusalem,Asia,1034.0,15497.0,16531.0,145,0.136047,0.062549,False
150,New Zealand,759.0,507.0,1266.0,University of Otago,Oceania,3871.0,14661.0,18532.0,151,0.068314,0.208882,False
151,Canada,473.0,1216.0,1689.0,University of Waterloo,North America,8962.0,26579.0,35541.0,152,0.047523,0.252159,False
154,South Korea,364.0,2721.0,3085.0,Hanyang University,Asia,3397.0,19951.0,23348.0,155,0.132131,0.145494,False
161,Taiwan,119.0,901.0,1020.0,National Tsing Hua University,Asia,1187.0,12703.0,13890.0,161,0.073434,0.085457,False
163,Norway,484.0,1029.0,1513.0,University of Bergen,Europe,767.0,9904.0,10671.0,164,0.141786,0.071877,False
169,Italy,231.0,1269.0,1500.0,Politecnico di Milano,Europe,5593.0,30684.0,36277.0,170,0.041349,0.154175,False
171,India,4.0,462.0,466.0,Indian Institute of Technology Delhi (IITD),Asia,80.0,7397.0,7477.0,172,0.062324,0.010699,False
172,Saudi Arabia,665.0,397.0,1062.0,King Fahd University of Petroleum & Minerals,Asia,989.0,5051.0,6040.0,173,0.175828,0.163742,False
175,Australia,546.0,782.0,1328.0,University of Technology Sydney,Oceania,7769.0,16438.0,24207.0,176,0.054860,0.320940,False
176,France,137.0,392.0,529.0,CentraleSuplec,Europe,1132.0,2745.0,3877.0,177,0.136446,0.291978,False
178,India,19.0,857.0,876.0,Indian Institute of Technology Bombay (IITB),Asia,93.0,9309.0,9402.0,179,0.093172,0.009892,False
182,Brazil,109.0,1859.0,1968.0,Universidade Estadual de Campinas (Unicamp),Latin America,966.0,25606.0,26572.0,182,0.074063,0.036354,False
184,Austria,172.0,534.0,706.0,Vienna University of Technology,Europe,5199.0,12280.0,17479.0,182,0.040391,0.297443,False
186,Spain,181.0,2557.0,2738.0,Universidad Autnoma de Madrid,Europe,2976.0,23535.0,26511.0,187,0.103278,0.112255,False
187,Italy,153.0,2837.0,2990.0,Alma Mater Studiorum - University of Bologna,Europe,4195.0,59204.0,63399.0,188,0.047162,0.066168,False
189,India,NaN,NaN,423.0,Indian Institute of Science (IISc) Bangalore,Asia,47.0,4024.0,4071.0,190,0.103906,0.011545,False
192,Italy,1.0,118.0,119.0,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Europe,135.0,654.0,789.0,192,0.150824,0.171103,False
193,Japan,261.0,3644.0,3905.0,Keio University CEMS MIM,Asia,2178.0,31322.0,33500.0,192,0.116567,0.065015,False
195,Spain,230.0,1957.0,2187.0,Universitat Autnoma de Barcelona,Europe,3848.0,28138.0,31986.0,195,0.068374,0.120303,False
197,Mexico,821.0,1001.0,1822.0,Instituto Tecnolgico y de Estudios Superiores...,Latin America,1412.0,11964.0,13376.0,199,0.136214,0.105562,False
199,Chile,127.0,2129.0,2256.0,Universidad de Chile,Latin America,2134.0,36714.0,38848.0,201,0.058072,0.054932,False

In [40]:
the_universities[the_universities.matched == False]

                                                     0
0                                             1    ...
1                                            2     ...
2                                                 4...
3                                              5   ...
4                                                 7...
5                                               8  ...
6                                             12   ...
7                                           13     ...
8                                        15        ...
9                                                 1...
10                                           17    ...
11                                                 ...
12                                              20 ...
13                                       21        ...
14                                           24    ...
15                                               28...
16                                             30  ...
17                                         31      ...
18                                        35       ...
19                                                 ...
20                                         37      ...
21                                       39        ...
22                                             43  ...
23                                                 ...
24                                                 ...
25                                                 ...
26                                        52       ...
27                                                 ...
28                                                 ...
29                                               57...
..                                                 ...
130                                                ...
131                                                ...
132                                                ...
133                                               4...
134                                              15...
135                                              27...
136                                                ...
137                                                ...
138                                                ...
139                                                ...
140                                                ...
141                                                ...
142                                                ...
143                                                ...
144                                                ...
145                                               1...
146                                                ...
147                                            129 ...
148                                               1...
149                                           123  ...
150                                                ...
151                                        159     ...
152                                           188  ...
153                                              15...
154                                                ...
155                                                ...
156                                                ...
157                                                ...
158                                                ...
159                                                ...

[160 rows x 1 columns]