In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as rq
from bs4 import BeautifulSoup as bs
import re
import pickle

In [12]:
# Found using Postman and intercepting traffics while visiting topuniversities.com
top_universities_url = 'https://www.topuniversities.com'
top_universities_ranking_url = top_universities_url + '/sites/default/files/qs-rankings-data/357051.txt'

the_universities_url = 'https://www.timeshighereducation.com'
the_universities_ranking_url = the_universities_url + '/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

In [97]:
def match_number(text):
    ''' [-+]?[0-9]*\.?[0-9]+ '''
    return float(re.sub('[^-+0-9.]', '', text))

def extract_number(html, selector):
    number_tag = html.select_one(selector)
    if number_tag is None:
        return float('NaN')
    else:
        return float(match_number(number_tag.get_text()))

def fetch_top_university_infos(university):
    university_request = rq.get(top_universities_url + university['url'])
    university_html = bs(university_request.text, 'html.parser')
    university_data = dict()
    
    university_data['name'] = university['title']
    university_data['top_rank'] = int(match_number(university['rank_display']))
    university_data['region'] = university['region']
    university_data['country'] = university['country']
    university_data['faculty_total'] = extract_number(university_html, 'div.faculty.total div.number')
    university_data['faculty_inter'] = extract_number(university_html, 'div.faculty.inter div.number')
    university_data['faculty_local'] = university_data['faculty_total'] - university_data['faculty_inter']
    university_data['student_total'] = extract_number(university_html, 'div.student.total div.number')
    university_data['student_inter'] = extract_number(university_html, 'div.inter.total div.number')
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    
    return university_data

try:
    top_universities_file = open('top_universities.pickle', 'rb')
    top_universities = pickle.load(top_universities_file)
except:
    top_universities_json = (rq.get(top_universities_ranking_url).json())['data']
    top_universities = pd.DataFrame(list(map(fetch_top_university_infos, top_universities_json[0:200])))
    
    top_universities.region = top_universities.region.astype('category')
    top_universities.country = top_universities.country.astype('category')
    
    top_universities_file = open('top_universities.pickle', 'wb')
    pickle.dump(top_universities, top_universities_file)
    
# Create the mapping country => region for the other scrapper
for country_region_pair, universities in top_universities.groupby(['country', 'region']):
    country_regions[country_region_pair[0]] = country_region_pair[1]

In [71]:
top_universities

,country,faculty_inter,faculty_local,faculty_total,name,region,student_inter,student_local,student_total,top_rank
0,United States,1679.0,1303.0,2982.0,Massachusetts Institute of Technology (MIT),North America,3717.0,7350.0,11067.0,1
1,United States,2042.0,2243.0,4285.0,Stanford University,North America,3611.0,12267.0,15878.0,2
2,United States,1311.0,3039.0,4350.0,Harvard University,North America,5266.0,17163.0,22429.0,3
3,United States,350.0,603.0,953.0,California Institute of Technology (Caltech),North America,647.0,1608.0,2255.0,4
4,United Kingdom,2278.0,3212.0,5490.0,University of Cambridge,Europe,6699.0,12071.0,18770.0,5
5,United Kingdom,2964.0,3786.0,6750.0,University of Oxford,Europe,7353.0,12367.0,19720.0,6
6,United Kingdom,2554.0,3791.0,6345.0,UCL (University College London),Europe,14854.0,16226.0,31080.0,7
7,United Kingdom,2071.0,1859.0,3930.0,Imperial College London,Europe,8746.0,7344.0,16090.0,8
8,United States,635.0,1814.0,2449.0,University of Chicago,North America,3379.0,10178.0,13557.0,9
9,Switzerland,1886.0,591.0,2477.0,ETH Zurich - Swiss Federal Institute of Techno...,Europe,7563.0,12252.0,19815.0,10
10,Singapore,2993.0,1345.0,4338.0,"Nanyang Technological University, Singapore (NTU)",Asia,7251.0,18487.0,25738.0,11
11,Switzerland,1300.0,395.0,1695.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Europe,5896.0,4447.0,10343.0,12
12,United States,246.0,761.0,1007.0,Princeton University,North America,1793.0,6276.0,8069.0,13
13,United States,970.0,1748.0,2718.0,Cornell University,North America,5411.0,16493.0,21904.0,14
14,Singapore,3086.0,2020.0,5106.0,National University of Singapore (NUS),Asia,8917.0,23811.0,32728.0,15
15,United States,1708.0,3232.0,4940.0,Yale University,North America,2469.0,9933.0,12402.0,16
16,United States,1061.0,3401.0,4462.0,Johns Hopkins University,North America,4105.0,12041.0,16146.0,17
17,United States,913.0,5276.0,6189.0,Columbia University,North America,8105.0,16940.0,25045.0,18
18,United States,1383.0,4116.0,5499.0,University of Pennsylvania,North America,4250.0,16389.0,20639.0,19
19,Australia,927.0,673.0,1600.0,The Australian National University,Oceania,5551.0,8891.0,14442.0,20
20,United States,1920.0,4889.0,6809.0,University of Michigan,North America,7527.0,35620.0,43147.0,21
21,United States,226.0,2712.0,2938.0,Duke University,North America,2864.0,12456.0,15320.0,21
22,United Kingdom,1553.0,2522.0,4075.0,The University of Edinburgh,Europe,10551.0,17489.0,28040.0,23
23,United Kingdom,1513.0,2137.0,3650.0,King's College London,Europe,9451.0,14329.0,23780.0,23
24,China,932.0,4574.0,5506.0,Tsinghua University,Asia,4072.0,32228.0,36300.0,25
25,Hong Kong,2085.0,927.0,3012.0,The University of Hong Kong,Asia,8230.0,11984.0,20214.0,26
26,United States,1395.0,1926.0,3321.0,"University of California, Berkeley (UCB)",North America,6086.0,30617.0,36703.0,27
27,Japan,254.0,4260.0,4514.0,The University of Tokyo,Asia,2639.0,24640.0,27279.0,28
28,United States,1141.0,3090.0,4231.0,Northwestern University,North America,3422.0,15253.0,18675.0,28
29,Hong Kong,835.0,315.0,1150.0,The Hong Kong University of Science and Techno...,Asia,2921.0,7454.0,10375.0,30
...,...,...,...,...,...,...,...,...,...,...
170,Germany,413.0,1553.0,1966.0,Albert-Ludwigs-Universitaet Freiburg,Europe,3897.0,19317.0,23214.0,171
171,India,4.0,462.0,466.0,Indian Institute of Technology Delhi (IITD),Asia,80.0,7397.0,7477.0,172
172,Saudi Arabia,665.0,397.0,1062.0,King Fahd University of Petroleum & Minerals,Asia,989.0,5051.0,6040.0,173
173,United Kingdom,717.0,1673.0,2390.0,University of Liverpool,Europe,7502.0,14563.0,22065.0,173
174,United States,487.0,2022.0,2509.0,University of Virginia,North America,1899.0,19661.0,21560.0,173
175,Australia,546.0,782.0,1328.0,University of Technology Sydney,Oceania,7769.0,16438.0,24207.0,176
176,France,137.0,392.0,529.0,CentraleSupélec,Europe,1132.0,2745.0,3877.0,177
177,United States,504.0,4915.0,5419.0,University of Florida,North America,4597.0,40888.0,45485.0,178
178,India,19.0,857.0,876.0,Indian Institute of Technology Bombay (IITB),Asia,93.0,9309.0,9402.0,179
179,Netherlands,299.0,611.0,910.0,University of Twente,Europe,2235.0,7097.0,9332.0,179
180,Germany,641.0,3037.0,3678.0,University of Göttingen,Europe,3736.0,26666.0,30402.0,181
181,Belgium,515.0,1277.0,1792.0,Vrije Universiteit Brussel (VUB),Europe,1853.0,7431.0,9284.0,182
182,Brazil,109.0,1859.0,1968.0,Universidade Estadual de Campinas (Unicamp),Latin America,966.0,25606.0,26572.0,182
183,United States,566.0,3119.0,3685.0,University of Colorado Boulder,North America,2679.0,27540.0,30219.0,182
184,Austria,172.0,534.0,706.0,Vienna University of Technology,Europe,5199.0,12280.0,17479.0,182
185,United States,488.0,2081.0,2569.0,University of Rochester,North America,2805.0,6831.0,9636.0,186
186,Spain,181.0,2557.0,2738.0,Universidad Autónoma de Madrid,Europe,2976.0,23535.0,26511.0,187
187,Italy,153.0,2837.0,2990.0,Alma Mater Studiorum - University of Bologna,Europe,4195.0,59204.0,63399.0,188
188,United Kingdom,422.0,858.0,1280.0,University of Reading,Europe,4077.0,9253.0,13330.0,188
189,India,NaN,NaN,423.0,Indian Institute of Science (IISc) Bangalore,Asia,47.0,4024.0,4071.0,190
190,South Africa,379.0,1354.0,1733.0,University of Cape Town,Africa,3325.0,16268.0,19593.0,191
191,Italy,1.0,85.0,86.0,Scuola Normale Superiore di Pisa,Europe,48.0,484.0,532.0,192
192,Italy,1.0,118.0,119.0,Scuola Superiore Sant'Anna Pisa di Studi Unive...,Europe,135.0,654.0,789.0,192
193,Japan,261.0,3644.0,3905.0,Keio University CEMS MIM,Asia,2178.0,31322.0,33500.0,192
194,Sweden,646.0,1508.0,2154.0,Stockholm University,Europe,2636.0,25645.0,28281.0,195
195,Spain,230.0,1957.0,2187.0,Universitat Autònoma de Barcelona,Europe,3848.0,28138.0,31986.0,195
196,United States,206.0,3240.0,3446.0,Texas A&M University,North America,4900.0,55394.0,60294.0,195
197,Mexico,821.0,1001.0,1822.0,Instituto Tecnológico y de Estudios Superiores...,Latin America,1412.0,11964.0,13376.0,199
198,Netherlands,502.0,775.0,1277.0,Maastricht University,Europe,8234.0,8151.0,16385.0,200
199,Chile,127.0,2129.0,2256.0,Universidad de Chile,Latin America,2134.0,36714.0,38848.0,201

In [79]:
def ratio_stats(universities):
    universities['faculty_student_ratio'] = universities.faculty_total / universities.student_total
    universities['inter_student_ratio'] = universities.student_inter / universities.student_total
    
    top_by_faculty = (universities.sort_values('faculty_student_ratio', ascending = False))[:20]
    top_by_inter = (universities.sort_values('inter_student_ratio', ascending = False))[:20]
    
    return (top_by_faculty, top_by_inter)

In [85]:
top_universities_by_faculty, top_universities_by_inter = ratio_stats(top_universities)

top_country = top_universities.groupby('country').sum()
top_country_by_faculty, top_country_by_inter = ratio_stats(top_country)

top_regions = top_universities.groupby('region').sum()
top_regions_by_faculty, top_regions_by_inter = ratio_stats(top_regions)

top_country_by_inter

,faculty_inter,faculty_local,faculty_total,student_inter,student_local,student_total,top_rank,faculty_student_ratio,inter_student_ratio
country,,,,,,,,,
Australia,11382.0,10652.0,22034.0,106359.0,195635.0,301994.0,641,0.072962,0.352189
United Kingdom,30216.0,49718.0,79934.0,199426.0,384195.0,583621.0,2462,0.136962,0.341705
Hong Kong,6296.0,3870.0,10166.0,24499.0,54339.0,78838.0,246,0.128948,0.310751
Austria,1572.0,2545.0,4117.0,19667.0,43779.0,63446.0,336,0.064890,0.309980
Switzerland,9208.0,6115.0,15323.0,32995.0,76117.0,109112.0,655,0.140434,0.302396
Singapore,6079.0,3365.0,9444.0,16168.0,42298.0,58466.0,26,0.161530,0.276537
Canada,10734.0,18583.0,29317.0,73239.0,208275.0,281514.0,626,0.104140,0.260161
New Zealand,1404.0,1909.0,3313.0,12439.0,35734.0,48173.0,233,0.068773,0.258215
Ireland,1171.0,1682.0,2853.0,8187.0,26607.0,34794.0,256,0.081997,0.235299
Netherlands,5683.0,14604.0,20287.0,46044.0,151587.0,197631.0,1197,0.102651,0.232980
Argentina,3165.0,13256.0,16421.0,27109.0,95192.0,122301.0,75,0.134267,0.221658
France,815.0,3196.0,4011.0,6864.0,28371.0,35235.0,567,0.113836,0.194806
Malaysia,655.0,2100.0,2755.0,3476.0,14426.0,17902.0,114,0.153893,0.194168
United States,33102.0,119704.0,152806.0,218877.0,1045962.0,1264839.0,3753,0.120811,0.173047
Sweden,3062.0,7267.0,10329.0,17644.0,85709.0,103353.0,616,0.099939,0.170716
South Africa,379.0,1354.0,1733.0,3325.0,16268.0,19593.0,191,0.088450,0.169703
Russia,373.0,6336.0,6709.0,5098.0,25135.0,30233.0,95,0.221910,0.168624
Germany,6402.0,27024.0,33426.0,56455.0,286044.0,342499.0,1351,0.097594,0.164833
Saudi Arabia,665.0,397.0,1062.0,989.0,5051.0,6040.0,173,0.175828,0.163742
Belgium,2187.0,5859.0,8046.0,17013.0,98054.0,115067.0,531,0.069924,0.147853

In [98]:
import math

def fetch_the_university_infos(university):
    university_data = dict()
    
    student_faculty_ratio = match_number(university['stats_student_staff_ratio'])
    inter_student_ratio = match_number(university['stats_pc_intl_students']) / 100.0
    
    university_data['name'] = university['name']
    university_data['the_rank'] = int(match_number(university['rank']))
    university_data['region'] = country_regions[university['location']]
    university_data['country'] = university['location']
    university_data['student_total'] = int(match_number(university['stats_number_students']))
    university_data['student_inter'] = int(university_data['student_total'] * inter_student_ratio)
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    university_data['faculty_total'] = int(university_data['student_total'] / student_faculty_ratio)
    university_data['faculty_inter'] = float('NaN')
    university_data['faculty_local'] = float('NaN')
    
    return university_data
    
try:
    the_universities_file = open('the_universities.pickle', 'rb')
    the_universities = pickle.load(the_universities_file)
except:
    the_universities_json = (rq.get(the_universities_ranking_url).json())['data']
    the_universities = pd.DataFrame(list(map(fetch_the_university_infos, the_universities_json[0:200])))
        
    the_universities.region = the_universities.region.astype('category')
    the_universities.country = the_universities.country.astype('category')
    
    the_universities_file = open('the_universities.pickle', 'wb')
    pickle.dump(the_universities, the_universities_file)

In [99]:
the_universities

,country,faculty_inter,faculty_local,faculty_total,name,region,student_inter,student_local,student_total,the_rank
0,United Kingdom,NaN,NaN,1822,University of Oxford,Europe,7755,12654,20409,1
1,United Kingdom,NaN,NaN,1687,University of Cambridge,Europe,6436,11953,18389,2
2,United States,NaN,NaN,339,California Institute of Technology,North America,596,1613,2209,3
3,United States,NaN,NaN,2112,Stanford University,North America,3485,12360,15845,3
4,United States,NaN,NaN,1284,Massachusetts Institute of Technology,North America,3800,7377,11177,5
5,United States,NaN,NaN,2283,Harvard University,North America,5284,15042,20326,6
6,United States,NaN,NaN,958,Princeton University,North America,1909,6046,7955,7
7,United Kingdom,NaN,NaN,1390,Imperial College London,Europe,8721,7136,15857,8
8,United States,NaN,NaN,2181,University of Chicago,North America,3381,10144,13525,9
9,Switzerland,NaN,NaN,1317,ETH Zurich – Swiss Federal Institute of Techno...,Europe,7308,11925,19233,10
10,United States,NaN,NaN,3132,University of Pennsylvania,North America,4072,16289,20361,10
11,United States,NaN,NaN,2826,Yale University,North America,2552,9603,12155,12
12,United States,NaN,NaN,3604,Johns Hopkins University,North America,3719,11779,15498,13
13,United States,NaN,NaN,4358,Columbia University,North America,8507,18080,26587,14
14,United States,NaN,NaN,4091,"University of California, Los Angeles",North America,6677,32602,39279,15
15,United Kingdom,NaN,NaN,2886,University College London,Europe,14848,15456,30304,16
16,United States,NaN,NaN,3390,Duke University,North America,3356,11900,15256,17
17,United States,NaN,NaN,2761,"University of California, Berkeley",North America,6150,30032,36182,18
18,United States,NaN,NaN,2229,Cornell University,North America,5244,16606,21850,19
19,United States,NaN,NaN,1364,Northwestern University,North America,3143,14323,17466,20
20,United States,NaN,NaN,4862,University of Michigan,North America,6690,35128,41818,21
21,Singapore,NaN,NaN,1800,National University of Singapore,Asia,9180,21422,30602,22
22,Canada,NaN,NaN,3712,University of Toronto,North America,11802,57625,69427,22
23,United States,NaN,NaN,938,Carnegie Mellon University,North America,5704,6972,12676,24
24,United Kingdom,NaN,NaN,825,London School of Economics and Political Science,Europe,7146,2919,10065,25
25,United States,NaN,NaN,3942,University of Washington,North America,7191,37754,44945,25
26,United Kingdom,NaN,NaN,2140,University of Edinburgh,Europe,10703,16056,26759,27
27,United States,NaN,NaN,4568,New York University,North America,11403,32457,43860,27
28,China,NaN,NaN,4734,Peking University,Asia,6741,35395,42136,27
29,China,NaN,NaN,3072,Tsinghua University,Asia,3788,38301,42089,30
...,...,...,...,...,...,...,...,...,...,...
170,South Africa,NaN,NaN,1775,University of Cape Town,Africa,3739,17036,20775,171
171,United States,NaN,NaN,3913,"Rutgers, the State University of New Jersey",North America,4343,39096,43439,172
172,Sweden,NaN,NaN,809,KTH Royal Institute of Technology,Europe,2201,10750,12951,173
173,Germany,NaN,NaN,992,University of Münster,Europe,2960,39327,42287,173
174,Belgium,NaN,NaN,583,Université Libre de Bruxelles,Europe,8870,16473,25343,175
175,United Kingdom,NaN,NaN,1343,Newcastle University,Europe,6285,14667,20952,175
176,United Kingdom,NaN,NaN,1693,University of Liverpool,Europe,6935,12880,19815,177
177,China,NaN,NaN,3549,Zhejiang University,Asia,3003,47048,50051,177
178,Luxembourg,NaN,NaN,340,University of Luxembourg,Europe,2832,2137,4969,179
179,Netherlands,NaN,NaN,523,University of Twente,Europe,1808,4889,6697,179
180,France,NaN,NaN,1877,Paris-Sud University,Europe,4355,22866,27221,181
181,France,NaN,NaN,261,École Normale Supérieure de Lyon,Europe,288,1933,2221,182
182,Hong Kong,NaN,NaN,809,Hong Kong Polytechnic University,Asia,5443,16330,21773,182
183,Italy,NaN,NaN,99,Scuola Normale Superiore di Pisa,Europe,36,479,515,184
184,United Kingdom,NaN,NaN,867,University of Aberdeen,Europe,4339,7716,12055,185
185,United States,NaN,NaN,2688,University of Miami,North America,2537,13323,15860,186
186,United Kingdom,NaN,NaN,731,University of Dundee,Europe,2614,8279,10893,187
187,United Kingdom,NaN,NaN,994,University of East Anglia,Europe,4056,9465,13521,188
188,China,NaN,NaN,3007,Shanghai Jiao Tong University,Asia,2237,35051,37288,188
189,Finland,NaN,NaN,630,Aalto University,Europe,2548,10196,12744,190
190,United States,NaN,NaN,4453,University of Massachusetts,North America,8292,50938,59230,191
191,New Zealand,NaN,NaN,1614,University of Auckland,Oceania,8800,21548,30348,192
192,United States,NaN,NaN,1341,Northeastern University,North America,6009,12771,18780,193
193,Russian Federation,NaN,NaN,4004,Lomonosov Moscow State University,Europe,6431,22805,29236,194
194,Netherlands,NaN,NaN,343,Tilburg University,Europe,1005,6733,7738,195
195,France,NaN,NaN,729,Paris-Sorbonne University – Paris 4,Europe,3306,18736,22042,196
196,United Kingdom,NaN,NaN,579,"Royal Holloway, University of London",Europe,3572,5359,8931,197
197,United States,NaN,NaN,1001,"University of California, Riverside",North America,2903,17837,20740,198
198,Sweden,NaN,NaN,1837,University of Gothenburg,Europe,2389,15989,18378,198
199,Taiwan,NaN,NaN,2761,National Taiwan University,Asia,2540,29218,31758,198

In [100]:
the_universities_by_faculty, the_universities_by_inter = ratio_stats(the_universities)

the_country = the_universities.groupby('country').sum()
the_country_by_faculty, the_country_by_inter = ratio_stats(the_country)

the_regions = the_universities.groupby('region').sum()
the_regions_by_faculty, the_regions_by_inter = ratio_stats(the_regions)

the_country_by_inter

,faculty_inter,faculty_local,faculty_total,student_inter,student_local,student_total,the_rank,faculty_student_ratio,inter_student_ratio
country,,,,,,,,,
Luxembourg,NaN,NaN,340,2832,2137,4969,179,0.068424,0.569934
United Kingdom,NaN,NaN,44425,213045,383404,596449,3428,0.074482,0.357189
Hong Kong,NaN,NaN,4140,25157,52506,77663,443,0.053307,0.323925
Australia,NaN,NaN,9937,83807,184823,268630,616,0.036991,0.311979
Singapore,NaN,NaN,3364,17084,39017,56101,74,0.059963,0.304522
Switzerland,NaN,NaN,10048,32743,75109,107852,666,0.093165,0.303592
New Zealand,NaN,NaN,1614,8800,21548,30348,192,0.053183,0.289970
Ireland,NaN,NaN,708,4362,11795,16157,117,0.043820,0.269976
Austria,NaN,NaN,1700,9197,26178,35375,165,0.048057,0.259986
Canada,NaN,NaN,13236,55902,193499,249401,403,0.053071,0.224145
Russian Federation,NaN,NaN,4004,6431,22805,29236,194,0.136954,0.219969
France,NaN,NaN,7435,18973,80405,99378,869,0.074815,0.190918
Norway,NaN,NaN,1490,5268,22462,27730,146,0.053732,0.189975
Belgium,NaN,NaN,3426,23766,106349,130115,458,0.026331,0.182654
South Africa,NaN,NaN,1775,3739,17036,20775,171,0.085439,0.179976
Netherlands,NaN,NaN,13599,41559,198621,240180,1381,0.056620,0.173033
United States,NaN,NaN,152317,280338,1425195,1705533,4794,0.089308,0.164370
Spain,NaN,NaN,3041,6509,36972,43481,287,0.069939,0.149698
Germany,NaN,NaN,15346,87481,498883,586364,2169,0.026171,0.149192
Denmark,NaN,NaN,10596,9326,54784,64110,371,0.165278,0.145469