In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as rq
from bs4 import BeautifulSoup as bs
import re
import pickle

In [2]:
# Found using Postman and intercepting traffics while visiting topuniversities.com
top_universities_url = 'https://www.topuniversities.com'
top_universities_ranking_url = top_universities_url + '/sites/default/files/qs-rankings-data/357051.txt'

the_universities_url = 'https://www.timeshighereducation.com'
the_universities_ranking_url = the_universities_url + '/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'

## Top Universities

In [4]:
# Remove any characters that is not part of a floating number
def match_number(text):
    ''' [-+]?[0-9]*\.?[0-9]+ '''
    return float(re.sub('[^-+0-9.]', '', text))

# Extract a float number from an html document using the selector
def extract_number(html, selector):
    number_tag = html.select_one(selector)
    if number_tag is None:
        return float('NaN')
    else:
        return match_number(number_tag.get_text())

def fetch_top_university_infos(university):
    # Fetch the Webpage of the university
    university_request = rq.get(top_universities_url + university['url'])
    university_html = bs(university_request.text, 'html.parser')
    university_data = dict()
    
    # Scrap data from the JSON and the Webpage
    university_data['name'] = university['title']
    university_data['rank'] = int(match_number(university['rank_display']))
    university_data['region'] = university['region']
    university_data['country'] = university['country']
    university_data['faculty_total'] = extract_number(university_html, 'div.faculty.total div.number')
    university_data['faculty_inter'] = extract_number(university_html, 'div.faculty.inter div.number')
    university_data['faculty_local'] = university_data['faculty_total'] - university_data['faculty_inter']
    university_data['student_total'] = extract_number(university_html, 'div.student.total div.number')
    university_data['student_inter'] = extract_number(university_html, 'div.inter.total div.number')
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    
    return university_data

try:
    # Try to load the serialized data
    top_universities_file = open('top_universities.pickle', 'rb')
    top_universities = pickle.load(top_universities_file)
except:
    # If loading from the serialized data failed, scrap from the web!
    top_universities_json = (rq.get(top_universities_ranking_url).json())['data']
    top_universities = pd.DataFrame(list(map(fetch_top_university_infos, top_universities_json[0:200])))
    
    top_universities.region = top_universities.region.astype('category')
    top_universities.country = top_universities.country.astype('category')
    
    # Serialize the result for future runs
    top_universities_file = open('top_universities.pickle', 'wb')
    pickle.dump(top_universities, top_universities_file)
    
# Create the mapping country => region for the Times scrapper
country_regions = dict()
for country_region_pair, universities in top_universities.groupby(['country', 'region']):
    country_regions[country_region_pair[0]] = country_region_pair[1]
    
top_universities

In [5]:
# Sort the universities by faculty/student ratio and international students/local students ratio
def ratio_stats(universities):
    universities['faculty_student_ratio'] = universities.faculty_total / universities.student_total
    universities['inter_student_ratio'] = universities.student_inter / universities.student_total
    
    top_by_faculty = (universities.sort_values('faculty_student_ratio', ascending = False))[:20]
    top_by_inter = (universities.sort_values('inter_student_ratio', ascending = False))[:20]
    
    return (top_by_faculty, top_by_inter)

In [ ]:
# Top universities, using ratios
top_universities_by_faculty, top_universities_by_inter = ratio_stats(top_universities)

# Top universities by country, using ratios
top_country = top_universities.groupby('country').sum()
top_country_by_faculty, top_country_by_inter = ratio_stats(top_country)

# Top universities by region, using ratios
top_regions = top_universities.groupby('region').sum()
top_regions_by_faculty, top_regions_by_inter = ratio_stats(top_regions)

## Times Higher Education

In [7]:
import math

def fetch_the_university_infos(university):
    # No need to fetch more data
    university_data = dict()
    
    student_faculty_ratio = match_number(university['stats_student_staff_ratio'])
    inter_student_ratio = match_number(university['stats_pc_intl_students']) / 100.0
    
    # Scrap data from the JSON, some computation required
    university_data['name'] = university['name']
    university_data['rank'] = int(match_number(university['rank']))
    university_data['region'] = country_regions[university['location']]
    university_data['country'] = university['location']
    university_data['student_total'] = int(match_number(university['stats_number_students']))
    university_data['student_inter'] = int(university_data['student_total'] * inter_student_ratio)
    university_data['student_local'] = university_data['student_total'] - university_data['student_inter']
    university_data['faculty_total'] = int(university_data['student_total'] / student_faculty_ratio)
    university_data['faculty_inter'] = float('NaN')
    university_data['faculty_local'] = float('NaN')
    
    return university_data
    
try:
    # Try to load the serialized data
    the_universities_file = open('the_universities.pickle', 'rb')
    the_universities = pickle.load(the_universities_file)
except:
    # If loading from the serialized data failed, scrap from the web!
    the_universities_json = (rq.get(the_universities_ranking_url).json())['data']
    the_universities = pd.DataFrame(list(map(fetch_the_university_infos, the_universities_json[0:200])))
        
    the_universities.region = the_universities.region.astype('category')
    the_universities.country = the_universities.country.astype('category')
    
    # Serialize the result for future runs
    the_universities_file = open('the_universities.pickle', 'wb')
    pickle.dump(the_universities, the_universities_file)

In [ ]:
# Top universities, using ratios
the_universities_by_faculty, the_universities_by_inter = ratio_stats(the_universities)

# Top universities by country, using ratios
the_country = the_universities.groupby('country').sum()
the_country_by_faculty, the_country_by_inter = ratio_stats(the_country)

# Top universities by region, using ratios
the_regions = the_universities.groupby('region').sum()
the_regions_by_faculty, the_regions_by_inter = ratio_stats(the_regions)

# Merging datasets

In [ ]:
from difflib import SequenceMatcher
from collections import defaultdict
from operator import itemgetter

def proximity(a, b):
    return SequenceMatcher(None, a, b).ratio()

# We will compute the proximity of the name between all universities of the rankings (cross product)
proximities = dict()
for top_index, top_uni in top_universities.iterrows():
    for the_index, the_uni in the_universities.iterrows():
        # Don't need to work on universities in different countries
        if top_uni['country'] != the_uni['country']:
            continue
        
        prox = proximity(top_uni['name'], the_uni['name'])
        
        # Only keep good proximity to reduce work in the next phase
        if prox > .5:
            proximities[(top_index, the_index)] = prox
        
proximities

In [47]:

# Prepare universities to be matched
top_universities['matched'] = False
the_universities['matched'] = False

# Sort match by quality, we want the best matches to be processed first in case of conflicts
best_matches = sorted(proximities.items(), key = itemgetter(1), reverse = True)

for indexes, proximity in best_matches:
    # Get a view on both unis
    top_uni, the_uni = top_universities.loc[indexes[0]], the_universities.loc[indexes[1]]
    
    # Do the match only if both are still free
    if not top_uni['matched'] and not the_uni['matched']:
        # Mark the universities as matched
        top_universities.loc[indexes[0],'matched'] = True
        the_universities.loc[indexes[1],'matched'] = True
        # Give the same name for the merge
        the_universities.loc[indexes[1],'merge_name'] = top_uni['name']

# Use a join to merge the datasets using the name
merged_universities = top_universities.merge(the_universities, how = 'outer', left_on = 'name', right_on = 'merge_name')
merged_universities

,country_x,faculty_inter_x,faculty_local_x,faculty_total_x,name_x,region_x,student_inter_x,student_local_x,student_total_x,top_rank,...,name_y,region_y,student_inter_y,student_local_y,student_total_y,the_rank,faculty_student_ratio_y,inter_student_ratio_y,matched_y,merge_name_y
0,United States,1679.0,1303.0,2982.0,Massachusetts Institute of Technology (MIT),North America,3717.0,7350.0,11067.0,1.0,...,Massachusetts Institute of Technology,North America,3800.0,7377.0,11177.0,5.0,0.114879,0.339984,True,Massachusetts Institute of Technology (MIT)
1,United States,2042.0,2243.0,4285.0,Stanford University,North America,3611.0,12267.0,15878.0,2.0,...,Stanford University,North America,3485.0,12360.0,15845.0,3.0,0.133291,0.219943,True,Stanford University
2,United States,1311.0,3039.0,4350.0,Harvard University,North America,5266.0,17163.0,22429.0,3.0,...,Harvard University,North America,5284.0,15042.0,20326.0,6.0,0.112319,0.259963,True,Harvard University
3,United States,350.0,603.0,953.0,California Institute of Technology (Caltech),North America,647.0,1608.0,2255.0,4.0,...,California Institute of Technology,North America,596.0,1613.0,2209.0,3.0,0.153463,0.269805,True,California Institute of Technology (Caltech)
4,United Kingdom,2278.0,3212.0,5490.0,University of Cambridge,Europe,6699.0,12071.0,18770.0,5.0,...,University of Cambridge,Europe,6436.0,11953.0,18389.0,2.0,0.091740,0.349992,True,University of Cambridge
5,United Kingdom,2964.0,3786.0,6750.0,University of Oxford,Europe,7353.0,12367.0,19720.0,6.0,...,University of Oxford,Europe,7755.0,12654.0,20409.0,1.0,0.089274,0.379979,True,University of Oxford
6,United Kingdom,2554.0,3791.0,6345.0,UCL (University College London),Europe,14854.0,16226.0,31080.0,7.0,...,University College London,Europe,14848.0,15456.0,30304.0,16.0,0.095235,0.489968,True,UCL (University College London)
7,United Kingdom,2071.0,1859.0,3930.0,Imperial College London,Europe,8746.0,7344.0,16090.0,8.0,...,Imperial College London,Europe,8721.0,7136.0,15857.0,8.0,0.087658,0.549978,True,Imperial College London
8,United States,635.0,1814.0,2449.0,University of Chicago,North America,3379.0,10178.0,13557.0,9.0,...,University of Chicago,North America,3381.0,10144.0,13525.0,9.0,0.161257,0.249982,True,University of Chicago
9,Switzerland,1886.0,591.0,2477.0,ETH Zurich - Swiss Federal Institute of Techno...,Europe,7563.0,12252.0,19815.0,10.0,...,ETH Zurich – Swiss Federal Institute of Techno...,Europe,7308.0,11925.0,19233.0,10.0,0.068476,0.379972,True,ETH Zurich - Swiss Federal Institute of Techno...
10,Singapore,2993.0,1345.0,4338.0,"Nanyang Technological University, Singapore (NTU)",Asia,7251.0,18487.0,25738.0,11.0,...,"Nanyang Technological University, Singapore",Asia,7904.0,17595.0,25499.0,52.0,0.061336,0.309973,True,"Nanyang Technological University, Singapore (NTU)"
11,Switzerland,1300.0,395.0,1695.0,Ecole Polytechnique Fédérale de Lausanne (EPFL),Europe,5896.0,4447.0,10343.0,12.0,...,École Polytechnique Fédérale de Lausanne,Europe,5460.0,4468.0,9928.0,38.0,0.089243,0.549960,True,Ecole Polytechnique Fédérale de Lausanne (EPFL)
12,United States,246.0,761.0,1007.0,Princeton University,North America,1793.0,6276.0,8069.0,13.0,...,Princeton University,North America,1909.0,6046.0,7955.0,7.0,0.120427,0.239975,True,Princeton University
13,United States,970.0,1748.0,2718.0,Cornell University,North America,5411.0,16493.0,21904.0,14.0,...,Cornell University,North America,5244.0,16606.0,21850.0,19.0,0.102014,0.240000,True,Cornell University
14,Singapore,3086.0,2020.0,5106.0,National University of Singapore (NUS),Asia,8917.0,23811.0,32728.0,15.0,...,National University of Singapore,Asia,9180.0,21422.0,30602.0,22.0,0.058820,0.299980,True,National University of Singapore (NUS)
15,United States,1708.0,3232.0,4940.0,Yale University,North America,2469.0,9933.0,12402.0,16.0,...,Yale University,North America,2552.0,9603.0,12155.0,12.0,0.232497,0.209955,True,Yale University
16,United States,1061.0,3401.0,4462.0,Johns Hopkins University,North America,4105.0,12041.0,16146.0,17.0,...,Johns Hopkins University,North America,3719.0,11779.0,15498.0,13.0,0.232546,0.239966,True,Johns Hopkins University
17,United States,913.0,5276.0,6189.0,Columbia University,North America,8105.0,16940.0,25045.0,18.0,...,Columbia University,North America,8507.0,18080.0,26587.0,14.0,0.163915,0.319968,True,Columbia University
18,United States,1383.0,4116.0,5499.0,University of Pennsylvania,North America,4250.0,16389.0,20639.0,19.0,...,University of Pennsylvania,North America,4072.0,16289.0,20361.0,10.0,0.153823,0.199990,True,University of Pennsylvania
19,Australia,927.0,673.0,1600.0,The Australian National University,Oceania,5551.0,8891.0,14442.0,20.0,...,Australian National University,Oceania,5595.0,10391.0,15986.0,48.0,0.051795,0.349994,True,The Australian National University
20,United States,1920.0,4889.0,6809.0,University of Michigan,North America,7527.0,35620.0,43147.0,21.0,...,University of Michigan,North America,6690.0,35128.0,41818.0,21.0,0.116266,0.159979,True,University of Michigan
21,United States,226.0,2712.0,2938.0,Duke University,North America,2864.0,12456.0,15320.0,21.0,...,Duke University,North America,3356.0,11900.0,15256.0,17.0,0.222208,0.219979,True,Duke University
22,United Kingdom,1553.0,2522.0,4075.0,The University of Edinburgh,Europe,10551.0,17489.0,28040.0,23.0,...,University of Edinburgh,Europe,10703.0,16056.0,26759.0,27.0,0.079973,0.399978,True,The University of Edinburgh
23,United Kingdom,1513.0,2137.0,3650.0,King's College London,Europe,9451.0,14329.0,23780.0,23.0,...,King’s College London,Europe,9514.0,13693.0,23207.0,36.0,0.083294,0.409963,True,King's College London
24,China,932.0,4574.0,5506.0,Tsinghua University,Asia,4072.0,32228.0,36300.0,25.0,...,Tsinghua University,Asia,3788.0,38301.0,42089.0,30.0,0.072988,0.090000,True,Tsinghua University
25,Hong Kong,2085.0,927.0,3012.0,The University of Hong Kong,Asia,8230.0,11984.0,20214.0,26.0,...,University of Hong Kong,Asia,7712.0,10652.0,18364.0,40.0,0.055543,0.419952,True,The University of Hong Kong
26,United States,1395.0,1926.0,3321.0,"University of California, Berkeley (UCB)",North America,6086.0,30617.0,36703.0,27.0,...,"University of California, Berkeley",North America,6150.0,30032.0,36182.0,18.0,0.076309,0.169974,True,"University of California, Berkeley (UCB)"
27,Japan,254.0,4260.0,4514.0,The University of Tokyo,Asia,2639.0,24640.0,27279.0,28.0,...,University of Tokyo,Asia,2600.0,23400.0,26000.0,46.0,0.149231,0.100000,True,The University of Tokyo
28,United States,1141.0,3090.0,4231.0,Northwestern University,North America,3422.0,15253.0,18675.0,28.0,...,Northwestern University,North America,3143.0,14323.0,17466.0,20.0,0.078095,0.179950,True,Northwestern University
29,Hong Kong,835.0,315.0,1150.0,The Hong Kong University of Science and Techno...,Asia,2921.0,7454.0,10375.0,30.0,...,Hong Kong University of Science and Technology,Asia,3166.0,7048.0,10214.0,44.0,0.043274,0.309967,True,The Hong Kong University of Science and Techno...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Arizona State University,North America,8450.0,36025.0,44475.0,126.0,0.049736,0.189994,False,NaN
211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Charité - Universitätsmedizin Berlin,Europe,1222.0,5570.0,6792.0,126.0,0.061690,0.179918,False,NaN
212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Pompeu Fabra University,Europe,1340.0,9832.0,11172.0,140.0,0.048067,0.119943,False,NaN
213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Cologne,Europe,4508.0,40579.0,45087.0,145.0,0.019629,0.099984,False,NaN
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Notre Dame,North America,1310.0,10602.0,11912.0,150.0,0.074547,0.109973,False,NaN
215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Scuola Superiore Sant’Anna,Europe,96.0,594.0,690.0,155.0,0.084058,0.139130,False,NaN
216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,TU Dresden,Europe,4486.0,30028.0,34514.0,155.0,0.027844,0.129976,False,NaN
217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ulm University,Europe,1385.0,9272.0,10657.0,155.0,0.035188,0.129962,False,NaN
218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Case Western Reserve University,North America,1924.0,8206.0,10130.0,158.0,0.140770,0.189931,False,NaN
219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Leicester,Europe,5561.0,9074.0,14635.0,159.0,0.070858,0.379980,False,NaN
220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Arizona,North America,3450.0,34884.0,38334.0,161.0,0.076903,0.089998,False,NaN
221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"University of California, Santa Cruz",North America,714.0,17152.0,17866.0,162.0,0.043434,0.039964,False,NaN
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Erlangen-Nuremberg,Europe,4647.0,34083.0,38730.0,162.0,0.017093,0.119985,False,NaN
223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Vrije Universiteit Amsterdam,Europe,1718.0,22836.0,24554.0,165.0,0.055225,0.069968,False,NaN
224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Würzburg,Europe,2028.0,20509.0,22537.0,165.0,0.029463,0.089985,False,NaN
225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Alabama at Birmingham,North America,942.0,14761.0,15703.0,168.0,0.065784,0.059989,False,NaN
226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Tufts University,North America,1674.0,8789.0,10463.0,169.0,0.107522,0.159992,False,NaN
227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Rutgers, the State University of New Jersey",North America,4343.0,39096.0,43439.0,172.0,0.090080,0.099979,False,NaN
228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Münster,Europe,2960.0,39327.0,42287.0,173.0,0.023459,0.069998,False,NaN
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Luxembourg,Europe,2832.0,2137.0,4969.0,179.0,0.068424,0.569934,False,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paris-Sud University,Europe,4355.0,22866.0,27221.0,181.0,0.068954,0.159987,False,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Miami,North America,2537.0,13323.0,15860.0,186.0,0.169483,0.159962,False,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Dundee,Europe,2614.0,8279.0,10893.0,187.0,0.067107,0.239971,False,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,University of Massachusetts,North America,8292.0,50938.0,59230.0,191.0,0.075181,0.139997,False,NaN
234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Northeastern University,North America,6009.0,12771.0,18780.0,193.0,0.071406,0.319968,False,NaN
235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Lomonosov Moscow State University,Europe,6431.0,22805.0,29236.0,194.0,0.136954,0.219969,False,NaN
236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Tilburg University,Europe,1005.0,6733.0,7738.0,195.0,0.044327,0.129879,False,NaN
237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paris-Sorbonne University – Paris 4,Europe,3306.0,18736.0,22042.0,196.0,0.033073,0.149986,False,NaN
238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Royal Holloway, University of London",Europe,3572.0,5359.0,8931.0,197.0,0.064830,0.399955,False,NaN
239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"University of California, Riverside",North America,2903.0,17837.0,20740.0,198.0,0.048264,0.139971,False,NaN